In [1]:
import numpy as np
import pandas as pd
from scipy.stats import percentileofscore
import uuid
import json
import os
import urllib
# Install Packages
!pip install pdfminer.six

Requirement already satisfied: pdfminer.six in /anaconda/lib/python3.5/site-packages (20170720)
Requirement already satisfied: pycryptodome in /anaconda/lib/python3.5/site-packages (from pdfminer.six) (3.4.7)
Requirement already satisfied: chardet in /anaconda/lib/python3.5/site-packages (from pdfminer.six) (3.0.4)
Requirement already satisfied: six in /anaconda/lib/python3.5/site-packages (from pdfminer.six) (1.10.0)

In [2]:
pd.options.display.max_columns = None

# Loading, Cleaning and Organizing Relevant Datasets

We will load **HIES Survey Data** (PSLM Household Integrated Economic Survey) and **Tax Data**

## HIES Survey Data

We load microdata from years 2004 - 2016, with a gap between 2009 - 2010. The names of the relevant tables that we create after running the code below are listed below. See the bottom of this section (after all the intermediate calculations and tables) for code to download these tables.

((Notes: 
1) 2004 - 2005 and other years, capital assets: might be missing income from assets for households that have suspiciously low levels of income. Check how later surveys do it and if that's incorporated in the old survey design
2) In all years: have not taken into account income from assets (this is only covered on a household level, not sure how to distribute this income
3) data for 2006 - 2007 may be corrupted on a household level. Missing capital income.
4) 2004-06 might have better individual data from section 12
5) put pdfs of surveys at beginning of each section for easy access.
6) better naming conventions (shorter)
7) show all the columns and their descriptions. Write a little thing on what it is: 
w_itr_2004_05 = pd.read_stata('./heisSurvey/2004-05/weight file.dta', iterator=True)
w_itr_2004_05.variable_labels()
8) more lines, more readable
9) individual expenditures?? would that be worth it?
10) table of contents for the sections

Questions:
--> Tax data is in units of individuals. How do I convert the survey data into individuals? Option 1: take the individuals, find some way to distribute the household's capital income on those individuals. Then multiply by the weights (statistics question - are the weights are valid on an individual level?). Option 2 (if weights can't be used that way): take households (which have the household income derived from assets incorporated in, making those numbers more accurate) and estimate the number of people in each household and how the income should be distributed among those members.
**---> Tax year starts in June, survey is annual basis starting from January.**

hh_balance_sheet_2004_05
individual_balance_sheet_2004_05

hh_balance_sheet_2005_06
individual_balance_sheet_2005_06

hh_balance_sheet_2006_07
individual_balance_sheet_2006_07

hh_balance_sheet_2007_08
individual_balance_sheet_2007_08

hh_balance_sheet_2007_08
individual_balance_sheet_2007_08

hh_balance_sheet_2008_09
individual_balance_sheet_2008_09

hh_balance_sheet_2009_10
individual_balance_sheet_2009_10

hh_balance_sheet_2010_11
individual_balance_sheet_2010_11

hh_balance_sheet_2011_12
individual_balance_sheet_2011_12

hh_balance_sheet_2012_13
individual_balance_sheet_2012_13

hh_balance_sheet_2013_14
individual_balance_sheet_2013_14

hh_balance_sheet_2014_15
individual_balance_sheet_2014_15

hh_balance_sheet_2015_16
individual_balance_sheet_2015_16

Here we have the intermediate calculations and tables used to pull together this data. We show the first five rows of each table created so we can get an idea of what the data looks actually like.

### 2004 - 2005

In [3]:
weights_2004_05 = pd.read_stata('./heisSurvey/2004-05/weight file.dta')
weights_2004_05.drop(["v3"], inplace=True, axis=1)
weights_2004_05[0:5]

   sno       psu      weight  quarter  region  psu_hies
0    1  10011002  145.544006        1       1  11711101
1    2  10011004  178.582001        2       1  11711201
2    3  10011005  142.528000        3       1  11711301
3    4  10012004  880.974976        1       1  11712101
4    5  10012007  964.565002        2       1  11712201

In [4]:
unweighted_hh_balance_sheet_2004_05 = pd.read_stata('./heisSurvey/2004-05/sec_n0.dta')
unweighted_hh_balance_sheet_2004_05["hhcode"] = unweighted_hh_balance_sheet_2004_05["hhcode"].astype(int)
unweighted_hh_balance_sheet_2004_05["hhcode_hies"] = unweighted_hh_balance_sheet_2004_05["hhcode_hies"].astype(int)
unweighted_hh_balance_sheet_2004_05 = unweighted_hh_balance_sheet_2004_05[["hhcode", "hhcode_hies", "msno", "n1_12", "n2_6", "psu", "region", "psu_hies", "hhno", "province"]]
unweighted_hh_balance_sheet_2004_05.rename(index=str, inplace=True, columns={
        "n1_12": "income",
        "n2_6": "expenditure"
})
unweighted_hh_balance_sheet_2004_05[0:5]

,hhcode,hhcode_hies,msno,income,expenditure,psu,region,psu_hies,hhno,province
0,1001100201,1171110101,0,160800.0,111870,10011002,urban,11711101,1,punjab
1,1001100202,1171110102,0,67200.0,55022,10011002,urban,11711101,2,punjab
2,1001100203,1171110103,0,115800.0,101880,10011002,urban,11711101,3,punjab
3,1001100204,1171110104,0,202800.0,117448,10011002,urban,11711101,4,punjab
4,1001100205,1171110105,0,617400.0,272012,10011002,urban,11711101,5,punjab

In [5]:
# HOUSEHOLD BALANCE SHEET
hh_balance_sheet_2004_05 = unweighted_hh_balance_sheet_2004_05.join(weights_2004_05[["psu", "weight"]].set_index('psu'), on='psu')[["hhcode", "income", "expenditure", "psu", "region", "psu_hies", "hhno", "hhcode_hies", "province", "weight"]]
hh_balance_sheet_2004_05.rename(index=str, inplace=True, columns={
        "weight": "weights"
})
hh_balance_sheet_2004_05[0:5]

,hhcode,income,expenditure,psu,region,psu_hies,hhno,hhcode_hies,province,weights
0,1001100201,160800.0,111870,10011002,urban,11711101,1,1171110101,punjab,145.544006
1,1001100202,67200.0,55022,10011002,urban,11711101,2,1171110102,punjab,145.544006
2,1001100203,115800.0,101880,10011002,urban,11711101,3,1171110103,punjab,145.544006
3,1001100204,202800.0,117448,10011002,urban,11711101,4,1171110104,punjab,145.544006
4,1001100205,617400.0,272012,10011002,urban,11711101,5,1171110105,punjab,145.544006

In [6]:
unweighted_individual_balance_sheet_2004_05 = pd.read_stata('./heisSurvey/2004-05/sec_e0.dta')
unweighted_individual_balance_sheet_2004_05["hhcode_hies"] = unweighted_individual_balance_sheet_2004_05["hhcode_hies"].astype(int)
unweighted_individual_balance_sheet_2004_05["hhcode"] = unweighted_individual_balance_sheet_2004_05["hhcode"].astype(int)
unweighted_individual_balance_sheet_2004_05.drop(["sec", "seq01", "seq02", "seq03", "seq04", "seq05", "seq06", "seq07", "seq08", "seq09", "seq11", "seq12", "seq15"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2004_05.rename(index=str, inplace=True, columns={
        "seq10": "industry_sector",
        "seq13": "monthly_income", 
        "seq14": "months_worked", 
        "seq16": "other_annual_earnings"
})
unweighted_individual_balance_sheet_2004_05["hhcode"] = unweighted_individual_balance_sheet_2004_05["hhcode"].astype(int)
unweighted_individual_balance_sheet_2004_05["monthly_income"] = unweighted_individual_balance_sheet_2004_05["monthly_income"].fillna(0)
unweighted_individual_balance_sheet_2004_05["months_worked"] = unweighted_individual_balance_sheet_2004_05["months_worked"].fillna(0)
unweighted_individual_balance_sheet_2004_05["other_annual_earnings"] = unweighted_individual_balance_sheet_2004_05["other_annual_earnings"].fillna(0)
unweighted_individual_balance_sheet_2004_05["income"] = (unweighted_individual_balance_sheet_2004_05["monthly_income"] * unweighted_individual_balance_sheet_2004_05["months_worked"]) + unweighted_individual_balance_sheet_2004_05["other_annual_earnings"]
unweighted_individual_balance_sheet_2004_05.drop(["monthly_income", "months_worked", "other_annual_earnings"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2004_05[0:5]

,hhcode,msno,industry_sector,psu,quarter,region,psu_hies,hhno,hhcode_hies,province,income
0,1001100201,1,4 electricity,10011002,1,urban,11711101,1,1171110101,punjab,94800.0
1,1001100201,2,NaN,10011002,1,urban,11711101,1,1171110101,punjab,0.0
2,1001100201,3,9 social & personal service,10011002,1,urban,11711101,1,1171110101,punjab,66000.0
3,1001100201,4,NaN,10011002,1,urban,11711101,1,1171110101,punjab,0.0
4,1001100202,1,10 other,10011002,1,urban,11711101,2,1171110102,punjab,67200.0

In [7]:
individual_characteristics_2004_05 = pd.read_stata('./heisSurvey/2004-05/sec_b0.dta')
individual_characteristics_2004_05["hhcode"] = individual_characteristics_2004_05["hhcode"].astype(int)
individual_characteristics_2004_05.drop(["sec", "sbq02", "sbq05", "quarter", "province", "region", "psu", "psu_hies", "hhno", "hhcode_hies"], inplace=True, axis=1)
individual_characteristics_2004_05.rename(index=str, inplace=True, columns={
        "sbq01": "sex", 
        "sbq03": "relation_to_head", 
        "sbq04": "age"
})
individual_characteristics_2004_05["birth_year"] = 2019 - individual_characteristics_2004_05["age"]
individual_characteristics_2004_05[0:5]

       hhcode  msno     sex relation_to_head  age      weight  birth_year
0  1001100201     1    male           1:self   50  145.544006        1969
1  1001100201     2  female  2: husband/wife   46  145.544006        1973
2  1001100201     3  female   3:son/daughter   24  145.544006        1995
3  1001100201     4    male   3:son/daughter   17  145.544006        2002
4  1001100202     1    male           1:self   40  145.544006        1979

In [8]:
# INDIVIDUAL BALANCE SHEET
individual_balance_sheet_2004_05 = unweighted_individual_balance_sheet_2004_05.join(individual_characteristics_2004_05.set_index(["hhcode", "msno"]), on=["hhcode", "msno"])
individual_balance_sheet_2004_05.rename(index=str, inplace=True, columns={
        "weight": "weights"
})
print("num_rows", individual_balance_sheet_2004_05.shape[0])
individual_balance_sheet_2004_05[0:5]

num_rows 72277

,hhcode,msno,industry_sector,psu,quarter,region,psu_hies,hhno,hhcode_hies,province,income,sex,relation_to_head,age,weights,birth_year
0,1001100201,1,4 electricity,10011002,1,urban,11711101,1,1171110101,punjab,94800.0,male,1:self,50,145.544006,1969
1,1001100201,2,NaN,10011002,1,urban,11711101,1,1171110101,punjab,0.0,female,2: husband/wife,46,145.544006,1973
2,1001100201,3,9 social & personal service,10011002,1,urban,11711101,1,1171110101,punjab,66000.0,female,3:son/daughter,24,145.544006,1995
3,1001100201,4,NaN,10011002,1,urban,11711101,1,1171110101,punjab,0.0,male,3:son/daughter,17,145.544006,2002
4,1001100202,1,10 other,10011002,1,urban,11711101,2,1171110102,punjab,67200.0,male,1:self,40,145.544006,1979

### 2005 - 2006

In [9]:
weights_2005_06 = pd.read_stata('./heisSurvey/2005-06/p list.dta')
weights_2005_06["hhcode"] = weights_2005_06["hhcode"].astype(int)
weights_2005_06 = weights_2005_06[["hhcode", "idc", "s1aq02", "s1aq03", "s1aq05c", "weight", "region", "province"]]
weights_2005_06.rename(index=str, inplace=True, columns={
        "s1aq02": "relation_to_head",
        "s1aq03": "sex",
        "s1aq05c": "birth_year"
})
weights_2005_06[0:5]

,hhcode,idc,relation_to_head,sex,birth_year,weight,region,province
0,1011010101,1,head,male,1941.0,1031.644,urban,punjab
1,1011010101,51,spouse,female,1947.0,1031.644,urban,punjab
2,1011010102,1,head,male,1969.0,1031.644,urban,punjab
3,1011010102,51,spouse,female,1975.0,1031.644,urban,punjab
4,1011010102,52,son/daughter,male,1997.0,1031.644,urban,punjab

In [10]:
unweighted_hh_balance_sheet_2005_06 = pd.read_stata('./heisSurvey/2005-06/sec 12c.dta')
unweighted_hh_balance_sheet_2005_06["hhcode"] = unweighted_hh_balance_sheet_2005_06["hhcode"].astype(int)
unweighted_hh_balance_sheet_2005_06.rename(index=str, inplace=True, columns={
        "s12cq01": "income", 
        "s12cq02": "expenditure", 
        "s12cq03": "ratio", 
        "s12cq04": "does_ratio_make_sense"
})
print("num_rows", unweighted_hh_balance_sheet_2005_06.shape[0])
unweighted_hh_balance_sheet_2005_06[0:5]

num_rows 15450

       hhcode    income  expenditure  ratio does_ratio_make_sense
0  1011010101   38400.0      59524.0   0.64                    no
1  1011010102  144000.0     147498.0   0.98                   yes
2  1011010103   58000.0      57900.0   1.00                   yes
3  1011010104   81000.0     122634.0   0.67                    no
4  1011010105  120000.0     103502.0   1.16                   yes

In [11]:
# If the ratio above did not make sense, a more through accounting involving transfers, 
# buildings, financial assets, agricultural assets etc were taken into account.
# See the introduction sheet in ./heisSurvey/2005-06/ for more information 
capital_2005_06 = pd.read_stata('./heisSurvey/2005-06/sec 12e.dta')
capital_2005_06["hhcode"] = capital_2005_06["hhcode"].astype(int)
capital_2005_06.rename(index=str, inplace=True, columns={
        "s12eq01": "income", 
        "s12eq02": "expenditure", 
        "s12eq03": "ratio", 
        "s12eq04": "does_ratio_make_sense"
})
print("num_rows", capital_2005_06.shape[0])
capital_2005_06[0:5]

num_rows 3625

       hhcode  income  expenditure  ratio does_ratio_make_sense
0  1011010101   54400      60374.0   0.90                   yes
1  1011010104   82500     124384.0   0.66                    no
2  1011010107  294000     289720.0   1.01                   yes
3  1011010112  192000     184882.0   1.03                   yes
4  1011010202  116000     120994.0   0.96                   yes

In [12]:
# replace incomes in "unweighted_hh_balance_sheet_2005_06" with those in "capital_2005_06", as they are more accurate
for i in range(0, capital_2005_06.shape[0]):
    hhcode = capital_2005_06["hhcode"][i]
    new_income = capital_2005_06["income"][i]
    new_expenditure = capital_2005_06["expenditure"][i]
    new_ratio = capital_2005_06["ratio"][i]
    new_message = 'yes' if new_ratio >= 0.85 else 'no'
    
    row_index = unweighted_hh_balance_sheet_2005_06.index[unweighted_hh_balance_sheet_2005_06['hhcode'] == hhcode].tolist()[0]
    unweighted_hh_balance_sheet_2005_06.at[row_index, "income"] = new_income
    unweighted_hh_balance_sheet_2005_06.at[row_index, "expenditure"] = new_expenditure
    unweighted_hh_balance_sheet_2005_06.at[row_index, "ratio"] = new_ratio
    unweighted_hh_balance_sheet_2005_06.at[row_index, "does_ratio_make_sense"] = new_message

In [13]:
# HOUSEHOLD BALANCE SHEET
weights_2005_06_subset = weights_2005_06[["hhcode", "weight", "region", "province"]].drop_duplicates().set_index('hhcode')
hh_balance_sheet_2005_06 = unweighted_hh_balance_sheet_2005_06.join(weights_2005_06_subset, on='hhcode')
hh_balance_sheet_2005_06.rename(index=str, inplace=True, columns={
        "weight": "weights" 
})
hh_balance_sheet_2005_06[0:5]

,hhcode,income,expenditure,ratio,does_ratio_make_sense,weights,region,province
0,1011010101,54400.0,60374.0,0.90,yes,1031.644,urban,punjab
1,1011010102,144000.0,147498.0,0.98,yes,1031.644,urban,punjab
2,1011010103,58000.0,57900.0,1.00,yes,1031.644,urban,punjab
3,1011010104,82500.0,124384.0,0.66,no,1031.644,urban,punjab
4,1011010105,120000.0,103502.0,1.16,yes,1031.644,urban,punjab

In [14]:
unweighted_individual_balance_sheet_2005_06 = pd.read_stata('./heisSurvey/2005-06/sec 12a.dta')
unweighted_individual_balance_sheet_2005_06["hhcode"] = unweighted_individual_balance_sheet_2005_06["hhcode"].astype(int)
unweighted_individual_balance_sheet_2005_06.drop(["s12aq01", "s12aq02", "s12aq03", "s12aq04", "s12aq05", "s12aq06", "s12aq07"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2005_06.rename(index=str, inplace=True, columns={
        "s12aq08": "income"
})
unweighted_individual_balance_sheet_2005_06[0:5]

       hhcode province region  idc    income
0  1011010101   punjab  urban    1   38400.0
1  1011010101   punjab  urban   99   38400.0
2  1011010102   punjab  urban    1  144000.0
3  1011010102   punjab  urban   99  144000.0
4  1011010103   punjab  urban    1   48000.0

In [15]:
# INDIVIDUAL BALANCE SHEET
work_characteristics_2005_06 = pd.read_stata('./heisSurvey/2005-06/sec 1b.dta')
work_characteristics_2005_06 = work_characteristics_2005_06[["s1bq05", "idc", "hhcode"]]
work_characteristics_2005_06.rename(index=str, inplace=True, columns={
        "s1bq05": "industry_sector"
})

temp = unweighted_individual_balance_sheet_2005_06.merge(work_characteristics_2005_06, how="inner", on=["hhcode", "idc"])
individual_balance_sheet_2005_06 = temp.merge(weights_2005_06, how="left", on=["hhcode", "idc"])
individual_balance_sheet_2005_06.drop(["province_y", "region_y"], inplace=True, axis=1),
individual_balance_sheet_2005_06.rename(index=str, inplace=True, columns={
        "province_x": "province",
        "region_x": "region",
        "weight": "weights"
})
individual_balance_sheet_2005_06[0:5]

,hhcode,province,region,idc,income,industry_sector,relation_to_head,sex,birth_year,weights
0,1011010101,punjab,urban,1,38400.0,NaN,head,male,1941.0,1031.644
1,1011010102,punjab,urban,1,144000.0,61.0,head,male,1969.0,1031.644
2,1011010103,punjab,urban,1,48000.0,62.0,head,male,1934.0,1031.644
3,1011010103,punjab,urban,2,10000.0,62.0,son/daughter,male,1984.0,1031.644
4,1011010104,punjab,urban,1,81000.0,41.0,head,male,1965.0,1031.644

### 2006 - 2007

In [16]:
weights_2006_07 = pd.read_stata('./heisSurvey/2006-07/hhweights.dta')
weights_2006_07["hhcode"] = weights_2006_07["hhcode"].astype(int)
weights_2006_07[0:5]

       hhcode  weights
0  1001100101  104.007
1  1001100102  104.007
2  1001100103  104.007
3  1001100104  104.007
4  1001100105  104.007

Here we need to create individual and household balance sheets as that currently does not exist

In [17]:
unweighted_individual_balance_sheet_2006_07 = pd.read_stata('./heisSurvey/2006-07/section e.dta')
unweighted_individual_balance_sheet_2006_07.drop(["seq01", "seq02", "seq03", "seq04", "seq05", "seq06", "seq07", "seq08", "seq09", "seq11", "seq12", "seq15"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2006_07.rename(index=str, inplace=True, columns={
        "seq10": "industry_sector",
        "seq13": "monthly_income", 
        "seq14": "months_worked", 
        "seq16": "other_annual_earnings"
})
unweighted_individual_balance_sheet_2006_07["hhcode"] = unweighted_individual_balance_sheet_2006_07["hhcode"].astype(int)
unweighted_individual_balance_sheet_2006_07["monthly_income"] = unweighted_individual_balance_sheet_2006_07["monthly_income"].fillna(0)
unweighted_individual_balance_sheet_2006_07["months_worked"] = unweighted_individual_balance_sheet_2006_07["months_worked"].fillna(0)
unweighted_individual_balance_sheet_2006_07["other_annual_earnings"] = unweighted_individual_balance_sheet_2006_07["other_annual_earnings"].fillna(0)
unweighted_individual_balance_sheet_2006_07["income"] = (unweighted_individual_balance_sheet_2006_07["monthly_income"] * unweighted_individual_balance_sheet_2006_07["months_worked"]) + unweighted_individual_balance_sheet_2006_07["other_annual_earnings"]
unweighted_individual_balance_sheet_2006_07.drop(["monthly_income", "months_worked", "other_annual_earnings"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2006_07[0:5]

,hhcode,province,district,region,psu,sec,idc,industry_sector,income
0,1001100101,punjab,islamabad,urban,10011001,E,1,construction,72000.0
1,1001100101,punjab,islamabad,urban,10011001,E,2,NaN,0.0
2,1001100101,punjab,islamabad,urban,10011001,E,3,NaN,0.0
3,1001100102,punjab,islamabad,urban,10011001,E,1,NaN,0.0
4,1001100102,punjab,islamabad,urban,10011001,E,2,NaN,0.0

In [18]:
unweighted_hh_balance_sheet_2006_07 = unweighted_individual_balance_sheet_2006_07.groupby(["hhcode", "province", "district", "region", "psu"]).agg({'income': 'sum'})
unweighted_hh_balance_sheet_2006_07.reset_index(level=unweighted_hh_balance_sheet_2006_07.index.names, inplace=True)
unweighted_hh_balance_sheet_2006_07[0:5]

       hhcode province   district region       psu    income
0  1001100101   punjab  islamabad  urban  10011001   72000.0
1  1001100102   punjab  islamabad  urban  10011001  336000.0
2  1001100103   punjab  islamabad  urban  10011001  120000.0
3  1001100104   punjab  islamabad  urban  10011001  204000.0
4  1001100105   punjab  islamabad  urban  10011001  108000.0

In [19]:
# HOUSEHOLD BALANCE SHEET
hh_balance_sheet_2006_07 = unweighted_hh_balance_sheet_2006_07.join(weights_2006_07.set_index('hhcode'), on='hhcode')
hh_balance_sheet_2006_07[0:5]

       hhcode province   district region       psu    income  weights
0  1001100101   punjab  islamabad  urban  10011001   72000.0  104.007
1  1001100102   punjab  islamabad  urban  10011001  336000.0  104.007
2  1001100103   punjab  islamabad  urban  10011001  120000.0  104.007
3  1001100104   punjab  islamabad  urban  10011001  204000.0  104.007
4  1001100105   punjab  islamabad  urban  10011001  108000.0  104.007

In [20]:
# INDIVIDUAL BALANCE SHEET
individual_characteristics_2006_07 = pd.read_stata('./heisSurvey/2006-07/section b with weights.dta')
individual_characteristics_2006_07["hhcode"] = individual_characteristics_2006_07["hhcode"].astype(int)
individual_characteristics_2006_07.drop(["section", "sbq42", "sbq43", "province", "district", "psu", "region", "sbq02", "sbq05"], inplace=True, axis=1)
individual_characteristics_2006_07.rename(index=str, inplace=True, columns={
        "sbq01": "sex", 
        "sbq03": "relation_to_head", 
        "sbq41": "birth_year"
})
individual_balance_sheet_2006_07 = unweighted_individual_balance_sheet_2006_07.join(individual_characteristics_2006_07.set_index(["hhcode", "idc"]), on=["hhcode", "idc"])
print("num_rows", individual_balance_sheet_2006_07.shape[0])
individual_balance_sheet_2006_07[0:5]

num_rows 353396

,hhcode,province,district,region,psu,sec,idc,industry_sector,income,sex,relation_to_head,birth_year,age,weights
0,1001100101,punjab,islamabad,urban,10011001,E,1,construction,72000.0,male,head of household,1983,22,104.007
1,1001100101,punjab,islamabad,urban,10011001,E,2,NaN,0.0,female,wife/husband,1985,20,104.007
2,1001100101,punjab,islamabad,urban,10011001,E,3,NaN,0.0,female,father/mother,1960,45,104.007
3,1001100102,punjab,islamabad,urban,10011001,E,1,NaN,0.0,male,head of household,1944,62,104.007
4,1001100102,punjab,islamabad,urban,10011001,E,2,NaN,0.0,female,wife/husband,1947,58,104.007

### 2007 - 2008

In [21]:
weights_2007_08 = pd.read_stata('./heisSurvey/2007-08/plist.dta')
weights_2007_08 = weights_2007_08.drop(["s1aq05a", "s1aq05b", "s1aq04", "s1aq06", "s1aq07", "s1aq08", "s1aq09", "s1aq10"], axis=1)
weights_2007_08["hhcode"] = weights_2007_08["hhcode"].astype(int)
weights_2007_08.rename(index=str, inplace=True, columns={
        "s1aq02": "relation_to_head",
        "s1aq03": "sex",
        "s1aq05c": "birth_year"
})
weights_2007_08[0:5]

,hhcode,sec,idc,relation_to_head,sex,age,birth_year,province,region,psu,weight
0,1011010101,01A,1,head,male,26,1981,punjab,urban,10110101,1207.521
1,1011010101,01A,2,brother/sister,male,23,1984,punjab,urban,10110101,1207.521
2,1011010101,01A,51,brother/sister,female,22,1985,punjab,urban,10110101,1207.521
3,1011010101,01A,52,brother/sister,female,20,1987,punjab,urban,10110101,1207.521
4,1011010101,01A,53,father/mother,female,65,1942,punjab,urban,10110101,1207.521

In [22]:
unweighted_hh_balance_sheet_2007_08 = pd.read_stata('./heisSurvey/2007-08/sec 12 c.dta')
unweighted_hh_balance_sheet_2007_08["hhcode"] = unweighted_hh_balance_sheet_2007_08["hhcode"].astype(int)
unweighted_hh_balance_sheet_2007_08.rename(index=str, inplace=True, columns={
        "s12cq01": "income", 
        "s12cq02": "expenditure", 
        "s12cq03": "ratio", 
        "s12cq04": "does_ratio_make_sense"
})
print("num_rows", unweighted_hh_balance_sheet_2007_08.shape[0])
unweighted_hh_balance_sheet_2007_08[0:5]

num_rows 15511

       hhcode   income  expenditure  ratio does_ratio_make_sense
0  1011010101    78000        86262   0.90                   yes
1  1011010102   180000       275674   0.65                    no
2  1011010103    24000        81961   0.30                    no
3  1011010104   144000       151283   0.95                   yes
4  1011010105  1360000       557533   2.44                   yes

In [23]:
# If the ratio did not make sense, a more thorough accounting involving transfers, 
# buildings, financial assets, agricultural assets etc were taken into account.
capital_2007_08 = pd.read_stata('./heisSurvey/2007-08/sec 12e.dta')
capital_2007_08["hhcode"] = capital_2007_08["hhcode"].astype(int)
capital_2007_08.rename(index=str, inplace=True, columns={
        "s12eq01": "income", 
        "s12eq02": "expenditure", 
        "s12eq03": "ratio", 
        "s12eq04": "does_ratio_make_sense"
})
print("num_rows", capital_2007_08.shape[0])
capital_2007_08[0:5]

num_rows 3085

       hhcode  sec  income  expenditure  ratio does_ratio_make_sense
0  1011010102  12E  280000       279574   1.00                   yes
1  1011010103  12E   72000        82761   0.86                   yes
2  1011010109  12E  126800       107382   1.18                   yes
3  1011010112  12E   40000        10700   3.74                   yes
4  1011010210  12E  231500       140644   1.65                   yes

In [24]:
# replace incomes as the "capital_2007_08" table is more accurate
for i in range(0, capital_2007_08.shape[0]):
    hhcode = capital_2007_08["hhcode"][i]
    new_income = capital_2007_08["income"][i]
    new_expenditure = capital_2007_08["expenditure"][i]
    new_ratio = capital_2007_08["ratio"][i]
    new_message = 'yes' if new_ratio >= 0.85 else 'no'
    
    row_index = unweighted_hh_balance_sheet_2007_08.index[unweighted_hh_balance_sheet_2007_08['hhcode'] == hhcode].tolist()[0]
    unweighted_hh_balance_sheet_2007_08.at[row_index, "income"] = new_income
    unweighted_hh_balance_sheet_2007_08.at[row_index, "expenditure"] = new_expenditure
    unweighted_hh_balance_sheet_2007_08.at[row_index, "ratio"] = new_ratio
    unweighted_hh_balance_sheet_2007_08.at[row_index, "does_ratio_make_sense"] = new_message

In [25]:
# HOUSEHOLD BALANCE SHEET
weights_2007_08_subset = weights_2007_08[["hhcode", "weight", "region", "province"]].drop_duplicates().set_index('hhcode')
hh_balance_sheet_2007_08 = unweighted_hh_balance_sheet_2007_08.join(weights_2007_08_subset, on='hhcode')
hh_balance_sheet_2007_08.rename(index=str, inplace=True, columns={
        "weight": "weights"   
})
hh_balance_sheet_2007_08[0:5]

,hhcode,income,expenditure,ratio,does_ratio_make_sense,weights,region,province
0,1011010101,78000,86262,0.90,yes,1207.521,urban,punjab
1,1011010102,280000,279574,1.00,yes,1207.521,urban,punjab
2,1011010103,72000,82761,0.86,yes,1207.521,urban,punjab
3,1011010104,144000,151283,0.95,yes,1207.521,urban,punjab
4,1011010105,1360000,557533,2.44,yes,1207.521,urban,punjab

In [26]:
# INDIVIDUAL BALANCE SHEET
unweighted_individual_balance_sheet_2007_08 = pd.read_stata('./heisSurvey/2007-08/sec 12a.dta')
unweighted_individual_balance_sheet_2007_08["hhcode"] = unweighted_individual_balance_sheet_2007_08["hhcode"].astype(int)
unweighted_individual_balance_sheet_2007_08 = unweighted_individual_balance_sheet_2007_08.drop(["s12aq01", "s12aq02", "s12aq03", "s12aq04", "s12aq05", "s12aq06", "s12aq07"], axis=1)
unweighted_individual_balance_sheet_2007_08.rename(index=str, inplace=True, columns={
        "s12aq08": "income"
})

individual_balance_sheet_2007_08 = unweighted_individual_balance_sheet_2007_08.merge(weights_2007_08, how="inner", on=["hhcode", "idc"])
individual_balance_sheet_2007_08 = individual_balance_sheet_2007_08.drop(["sec_x", "sec_y", "province_y", "region_y"], axis=1)
individual_balance_sheet_2007_08.rename(index=str, inplace=True, columns={
        "province_x": "province",
        "region_x": "region",
        "weight": "weights"
})
individual_balance_sheet_2007_08[0:5]

,hhcode,province,region,idc,income,relation_to_head,sex,age,birth_year,psu,weights
0,1011010101,punjab,urban,1,78000.0,head,male,26,1981,10110101,1207.521
1,1011010102,punjab,urban,1,180000.0,head,male,45,1962,10110101,1207.521
2,1011010103,punjab,urban,1,24000.0,head,male,50,1957,10110101,1207.521
3,1011010104,punjab,urban,1,144000.0,head,male,41,1966,10110101,1207.521
4,1011010105,punjab,urban,1,64000.0,head,male,59,1948,10110101,1207.521

### 2008 - 2009

In [27]:
weights_2008_09 = pd.read_stata('./heisSurvey/2008-09/weights_file.dta')
weights_2008_09[0:5]

        psu     weights
0  10011001  109.514999
1  10011002   82.794998
2  10011003   85.516998
3  10011004   80.086998
4  10011005   91.502998

In [28]:
unweighted_individual_balance_sheet_2008_09 = pd.read_stata('./heisSurvey/2008-09/section_e.dta')
unweighted_individual_balance_sheet_2008_09.drop(["seq01", "seq02", "seq03", "seq04", "seq05", "seq06", "seq07", "seq08", "seq09", "seq11", "seq12", "seq15"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2008_09.rename(index=str, inplace=True, columns={
        "seq10": "industry_sector",
        "seq13": "monthly_income", 
        "seq14": "months_worked", 
        "seq16": "other_annual_earnings"
})
unweighted_individual_balance_sheet_2008_09["hhcode"] = unweighted_individual_balance_sheet_2008_09["hhcode"].astype(int)
unweighted_individual_balance_sheet_2008_09.monthly_income = unweighted_individual_balance_sheet_2008_09.monthly_income.fillna(0)
unweighted_individual_balance_sheet_2008_09.months_worked = unweighted_individual_balance_sheet_2008_09.months_worked.fillna(0)
unweighted_individual_balance_sheet_2008_09.other_annual_earnings = unweighted_individual_balance_sheet_2008_09.other_annual_earnings.fillna(0)
unweighted_individual_balance_sheet_2008_09["income"] = (unweighted_individual_balance_sheet_2008_09["monthly_income"] * unweighted_individual_balance_sheet_2008_09["months_worked"]) + unweighted_individual_balance_sheet_2008_09["other_annual_earnings"]
unweighted_individual_balance_sheet_2008_09.drop(["monthly_income", "months_worked", "other_annual_earnings"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2008_09[0:5]

,hhcode,province,district,region,psu,section,idc,industry_sector,income
0,1001100101,punjab,islamabad,urban,10011001,0e1,1.0,social & personal service,175200.0
1,1001100101,punjab,islamabad,urban,10011001,0e1,2.0,NaN,0.0
2,1001100101,punjab,islamabad,urban,10011001,0e1,3.0,NaN,0.0
3,1001100101,punjab,islamabad,urban,10011001,0e1,4.0,NaN,0.0
4,1001100102,punjab,islamabad,urban,10011001,0e1,1.0,social & personal service,168000.0

In [29]:
unweighted_hh_balance_sheet_2008_09 = unweighted_individual_balance_sheet_2008_09.groupby(["hhcode", "province", "district", "region", "psu"]).agg({'income': 'sum'})
unweighted_hh_balance_sheet_2008_09.reset_index(level=unweighted_hh_balance_sheet_2008_09.index.names, inplace=True)
unweighted_hh_balance_sheet_2008_09[0:5]

       hhcode province   district region       psu    income
0  1001100101   punjab  islamabad  urban  10011001  175200.0
1  1001100102   punjab  islamabad  urban  10011001  306000.0
2  1001100103   punjab  islamabad  urban  10011001  186000.0
3  1001100104   punjab  islamabad  urban  10011001  216000.0
4  1001100105   punjab  islamabad  urban  10011001  960000.0

In [30]:
# HOUSEHOLD BALANCE SHEET
hh_balance_sheet_2008_09 = unweighted_hh_balance_sheet_2008_09.join(weights_2008_09.set_index('psu'), on='psu')
hh_balance_sheet_2008_09[0:5]

       hhcode province   district region       psu    income     weights
0  1001100101   punjab  islamabad  urban  10011001  175200.0  109.514999
1  1001100102   punjab  islamabad  urban  10011001  306000.0  109.514999
2  1001100103   punjab  islamabad  urban  10011001  186000.0  109.514999
3  1001100104   punjab  islamabad  urban  10011001  216000.0  109.514999
4  1001100105   punjab  islamabad  urban  10011001  960000.0  109.514999

In [31]:
# INDIVIDUAL BALANCE SHEET
individual_characteristics_2008_09 = pd.read_stata('./heisSurvey/2008-09/sec_b.dta')
individual_characteristics_2008_09 = individual_characteristics_2008_09.join(weights_2008_09.set_index("psu"), on="psu")
individual_characteristics_2008_09["hhcode"] = individual_characteristics_2008_09["hhcode"].astype(int)
individual_characteristics_2008_09.drop(["sec", "sbq42", "sbq43", "province", "district", "psu", "region", "sbq02", "sbq05"], inplace=True, axis=1)
individual_characteristics_2008_09.rename(index=str, inplace=True, columns={
        "sbq01": "sex", 
        "sbq03": "relation_to_head", 
        "sbq41": "birth_year"
})
individual_balance_sheet_2008_09 = unweighted_individual_balance_sheet_2008_09.join(individual_characteristics_2008_09.set_index(["hhcode", "idc"]), on=["hhcode", "idc"])
print("num_rows", individual_balance_sheet_2008_09.shape[0])
individual_balance_sheet_2008_09[0:5]

num_rows 360084

,hhcode,province,district,region,psu,section,idc,industry_sector,income,sex,relation_to_head,birth_year,age,weights
0,1001100101,punjab,islamabad,urban,10011001,0e1,1.0,social & personal service,175200.0,male,head of household,1962.0,46.0,109.514999
1,1001100101,punjab,islamabad,urban,10011001,0e1,2.0,NaN,0.0,female,wife/husband,1968.0,40.0,109.514999
2,1001100101,punjab,islamabad,urban,10011001,0e1,3.0,NaN,0.0,female,son/daughter,1994.0,14.0,109.514999
3,1001100101,punjab,islamabad,urban,10011001,0e1,4.0,NaN,0.0,female,son/daughter,1996.0,12.0,109.514999
4,1001100102,punjab,islamabad,urban,10011001,0e1,1.0,social & personal service,168000.0,male,head of household,1967.0,41.0,109.514999

### 2009 - 2010

Data is missing from this year 😔

### 2010 - 2011

In [32]:
weights_2010_11 = pd.read_stata('./heisSurvey/2010-11/plist.dta')
weights_2010_11 = weights_2010_11.drop(["sbq04", "sbq52", "sbq53", "sbq06", "sbq07", "sbq08", "sbq09", "sbq10"], axis=1)
weights_2010_11["hhcode"] = weights_2010_11["hhcode"].astype(int)
weights_2010_11.rename(index=str, inplace=True, columns={
        "sbq02": "relation_to_head",
        "sbq03": "sex",
        "sbq51": "birth_year"
})
weights_2010_11[0:5]

,hhcode,region,province,psu,sec,idc,relation_to_head,sex,birth_year,age,weight
0,10011100101,urban,punjab,100111001,00B,1,head,male,1955,55,82.580482
1,10011100101,urban,punjab,100111001,00B,2,spouse,female,1959,51,82.580482
2,10011100101,urban,punjab,100111001,00B,3,son/daughter,female,1987,23,82.580482
3,10011100101,urban,punjab,100111001,00B,4,son/daughter,male,1989,20,82.580482
4,10011100101,urban,punjab,100111001,00B,5,son/daughter,male,1979,30,82.580482

In [33]:
unweighted_hh_balance_sheet_2010_11 = pd.read_stata('./heisSurvey/2010-11/balancesheet_c.dta')
unweighted_hh_balance_sheet_2010_11["hhcode"] = unweighted_hh_balance_sheet_2010_11["hhcode"].astype(int)
unweighted_hh_balance_sheet_2010_11.rename(index=str, inplace=True, columns={
        "s12cq01": "income", 
        "s12cq02": "expenditure", 
        "s12cq03": "ratio", 
        "s12cq04": "does_ratio_make_sense"
})
print("num_rows", unweighted_hh_balance_sheet_2010_11.shape[0])
unweighted_hh_balance_sheet_2010_11[0:5]

num_rows 16341

        hhcode   sec    income  expenditure  ratio does_ratio_make_sense
0  10011100101  BSC0  408000.0     321222.0   1.27                   yes
1  10011100102  BSC0  444000.0     215660.0   2.06                   yes
2  10011100103  BSC0  150000.0     167008.0   0.90                   yes
3  10011100104  BSC0  336000.0     165961.0   2.02                   yes
4  10011100105  BSC0  192000.0     147840.0   1.30                   yes

In [34]:
# If the ratio did not make sense, a more thorough accounting involving transfers, 
# buildings, financial assets, agricultural assets etc were taken into account.
capital_2010_11 = pd.read_stata('./heisSurvey/2010-11/balancesheet_e.dta')
capital_2010_11["hhcode"] = capital_2010_11["hhcode"].astype(int)
capital_2010_11.rename(index=str, inplace=True, columns={
        "s12eq01": "income", 
        "s12eq02": "expenditure", 
        "s12eq03": "ratio", 
        "s12eq04": "does_ratio_make_sense"
})
print("num_rows", capital_2010_11.shape[0])
capital_2010_11[0:5]

num_rows 3923

        hhcode  sec  income  expenditure  ratio does_ratio_make_sense
0  10011100112  BSE  332400       346880   0.96                   yes
1  10011200102  BSE  149000       140292   1.06                   yes
2  10011200110  BSE  386000       389420   0.99                   yes
3  10011200112  BSE  236000       243340   0.97                   yes
4  10011300104  BSE   98000       103384   0.94                   yes

In [35]:
# replace incomes as the "capital_2010_11" table is more accurate
for i in range(0, capital_2010_11.shape[0]):
    hhcode = capital_2010_11["hhcode"][i]
    new_income = capital_2010_11["income"][i]
    new_expenditure = capital_2010_11["expenditure"][i]
    new_ratio = capital_2010_11["ratio"][i]
    new_message = 'yes' if new_ratio >= 0.85 else 'no'
    
    row_index = unweighted_hh_balance_sheet_2010_11.index[unweighted_hh_balance_sheet_2010_11['hhcode'] == hhcode].tolist()[0]
    unweighted_hh_balance_sheet_2010_11.at[row_index, "income"] = new_income
    unweighted_hh_balance_sheet_2010_11.at[row_index, "expenditure"] = new_expenditure
    unweighted_hh_balance_sheet_2010_11.at[row_index, "ratio"] = new_ratio
    unweighted_hh_balance_sheet_2010_11.at[row_index, "does_ratio_make_sense"] = new_message

In [36]:
# HOUSEHOLD BALANCE SHEET
weights_2010_11_subset = weights_2010_11[["hhcode", "weight", "region", "province"]].drop_duplicates().set_index('hhcode')
hh_balance_sheet_2010_11 = unweighted_hh_balance_sheet_2010_11.join(weights_2010_11_subset, on='hhcode')
hh_balance_sheet_2010_11.rename(index=str, inplace=True, columns={
        "weight": "weights" 
})
hh_balance_sheet_2010_11[0:5]

,hhcode,sec,income,expenditure,ratio,does_ratio_make_sense,weights,region,province
0,10011100101,BSC0,408000.0,321222.0,1.27,yes,82.580482,urban,punjab
1,10011100102,BSC0,444000.0,215660.0,2.06,yes,82.580482,urban,punjab
2,10011100103,BSC0,150000.0,167008.0,0.90,yes,82.580482,urban,punjab
3,10011100104,BSC0,336000.0,165961.0,2.02,yes,82.580482,urban,punjab
4,10011100105,BSC0,192000.0,147840.0,1.30,yes,82.580482,urban,punjab

In [37]:
# INDIVIDUAL BALANCE SHEET
unweighted_individual_balance_sheet_2010_11 = pd.read_stata('./heisSurvey/2010-11/balancesheet_a.dta')
unweighted_individual_balance_sheet_2010_11["hhcode"] = unweighted_individual_balance_sheet_2010_11["hhcode"].astype(int)
unweighted_individual_balance_sheet_2010_11 = unweighted_individual_balance_sheet_2010_11.drop(["s12aq01", "s12aq02", "s12aq03", "s12aq04", "s12aq05", "s12aq06", "s12aq07"], axis=1)
unweighted_individual_balance_sheet_2010_11.rename(index=str, inplace=True, columns={
        "s12aq08": "income"
})

individual_balance_sheet_2010_11 = unweighted_individual_balance_sheet_2010_11.merge(weights_2010_11, how="inner", on=["hhcode", "idc"])
individual_balance_sheet_2010_11 = individual_balance_sheet_2010_11.drop(["sec_x", "sec_y", "province_y", "region_y"], axis=1)
individual_balance_sheet_2010_11.rename(index=str, inplace=True, columns={
        "province_x": "province",
        "region_x": "region",
        "weight": "weights"
})
individual_balance_sheet_2010_11[0:5]

,hhcode,province,region,idc,income,psu,relation_to_head,sex,birth_year,age,weights
0,10011100101,punjab,urban,1,180000.0,100111001,head,male,1955,55,82.580482
1,10011100101,punjab,urban,2,108000.0,100111001,spouse,female,1959,51,82.580482
2,10011100101,punjab,urban,5,120000.0,100111001,son/daughter,male,1979,30,82.580482
3,10011100102,punjab,urban,1,24000.0,100111001,head,male,1940,70,82.580482
4,10011100102,punjab,urban,3,300000.0,100111001,son/daughter,male,1980,30,82.580482

### 2011 - 2012

In [38]:
weights_2011_12 = pd.read_stata('./heisSurvey/2011-12/plist.dta')
weights_2011_12 = weights_2011_12.drop(["psu", "s1aq5a", "s1aq5b", "s1aq04", "s1aq06", "s1aq07", "s1aq08", "s1aq09", "s1aq10"], axis=1)
weights_2011_12["hhcode"] = weights_2011_12["hhcode"].astype(int)

weights_2011_12.rename(index=str, inplace=True, columns={
        "s1aq02": "relation_to_head",
        "s1aq03": "sex",
        "s1aq5c": "birth_year",
        "idc": "memno",
        "weight": "weights"
})
weights_2011_12[0:5]

,hhcode,province,region,sec,memno,relation_to_head,sex,age,birth_year,weights
0,1011010101,punjab,urban,01A,1,son/daughter,male,38,1973,1300.094971
1,1011010101,punjab,urban,01A,51,head,female,70,1941,1300.094971
2,1011010101,punjab,urban,01A,52,son/daughter in law,female,39,1972,1300.094971
3,1011010101,punjab,urban,01A,53,grand child,male,6,2004,1300.094971
4,1011010101,punjab,urban,01A,54,grand child,male,4,2007,1300.094971

In [39]:
unweighted_hh_balance_sheet_2011_12 = pd.read_stata('./heisSurvey/2011-12/sec_12c.dta')
unweighted_hh_balance_sheet_2011_12["hhcode"] = unweighted_hh_balance_sheet_2011_12["hhcode"].astype(int)
unweighted_hh_balance_sheet_2011_12.rename(index=str, inplace=True, columns={
        "t_icom": "income", 
        "t_exp": "expenditure", 
        "ratio_1rg": "does_ratio_make_sense"
})
print("num_rows", unweighted_hh_balance_sheet_2011_12.shape[0])
unweighted_hh_balance_sheet_2011_12[0:5]

num_rows 15807

,hhcode,province,region,psu,sec,income,expenditure,ratio,does_ratio_make_sense
0,1011010101,punjab,urban,10110101.0,12C,36000.0,101229.0,0.36,no
1,1011010102,punjab,urban,10110101.0,12C,220596.0,252980.0,0.87,yes
2,1011010103,punjab,urban,10110101.0,12C,126000.0,157260.0,0.80,no
3,1011010104,punjab,urban,10110101.0,12C,132000.0,141290.0,0.93,yes
4,1011010105,punjab,urban,10110101.0,12C,132300.0,368358.0,0.36,no

In [40]:
# If the ratio did not make sense, a more thorough accounting involving transfers, 
# buildings, financial assets, agricultural assets etc were taken into account.
capital_2011_12 = pd.read_stata('./heisSurvey/2011-12/sec_12e.dta')
capital_2011_12["hhcode"] = capital_2011_12["hhcode"].astype(int)
capital_2011_12.rename(index=str, inplace=True, columns={
        "t_income": "income", 
        "t_exp": "expenditure", 
        "ratio_1rg": "does_ratio_make_sense"
})
print("num_rows", capital_2011_12.shape[0])
capital_2011_12[0:5]

num_rows 3659

,hhcode,province,region,psu,sec,income,expenditure,ratio,does_ratio_make_sense
0,1011010101,punjab,urban,10110101,12E,91000,101529,0.90,yes
1,1011010103,punjab,urban,10110101,12E,156000,159500,0.97,yes
2,1011010105,punjab,urban,10110101,12E,332300,371358,0.89,yes
3,1011010201,punjab,urban,10110102,12E,127100,142250,0.89,yes
4,1011010211,punjab,urban,10110102,12E,244800,268134,0.91,yes

In [41]:
# replace incomes as the "capital_2010_11" table is more accurate
for i in range(0, capital_2011_12.shape[0]):
    hhcode = capital_2011_12["hhcode"][i]
    new_income = capital_2011_12["income"][i]
    new_expenditure = capital_2011_12["expenditure"][i]
    new_ratio = capital_2011_12["ratio"][i]
    new_message = 'yes' if new_ratio >= 0.85 else 'no'
    
    row_index = unweighted_hh_balance_sheet_2011_12.index[unweighted_hh_balance_sheet_2011_12['hhcode'] == hhcode].tolist()[0]
    unweighted_hh_balance_sheet_2011_12.at[row_index, "income"] = new_income
    unweighted_hh_balance_sheet_2011_12.at[row_index, "expenditure"] = new_expenditure
    unweighted_hh_balance_sheet_2011_12.at[row_index, "ratio"] = new_ratio
    unweighted_hh_balance_sheet_2011_12.at[row_index, "does_ratio_make_sense"] = new_message

In [42]:
# HOUSEHOLD BALANCE SHEET
weights_2011_12_subset = weights_2011_12[["hhcode", "weights"]].drop_duplicates().set_index('hhcode')
hh_balance_sheet_2011_12 = unweighted_hh_balance_sheet_2011_12.join(weights_2011_12_subset, on='hhcode')
hh_balance_sheet_2011_12[0:5]

,hhcode,province,region,psu,sec,income,expenditure,ratio,does_ratio_make_sense,weights
0,1011010101,punjab,urban,10110101.0,12C,91000.0,101529.0,0.90,yes,1300.094971
1,1011010102,punjab,urban,10110101.0,12C,220596.0,252980.0,0.87,yes,1300.094971
2,1011010103,punjab,urban,10110101.0,12C,156000.0,159500.0,0.97,yes,1300.094971
3,1011010104,punjab,urban,10110101.0,12C,132000.0,141290.0,0.93,yes,1300.094971
4,1011010105,punjab,urban,10110101.0,12C,332300.0,371358.0,0.89,yes,1300.094971

In [43]:
# INDIVIDUAL BALANCE SHEET
unweighted_individual_balance_sheet_2011_12 = pd.read_stata('./heisSurvey/2011-12/sec_12a.dta')
unweighted_individual_balance_sheet_2011_12["hhcode"] = unweighted_individual_balance_sheet_2011_12["hhcode"].astype(int)
unweighted_individual_balance_sheet_2011_12 = unweighted_individual_balance_sheet_2011_12.drop(["bs1qc1", "bs1qc2", "bs1qc3", "bs1qc4", "bs1qc5", "bs1qc6", "bs1qc7"], axis=1)
unweighted_individual_balance_sheet_2011_12.rename(index=str, inplace=True, columns={
        "bs1qc8": "income"
})

individual_balance_sheet_2011_12 = unweighted_individual_balance_sheet_2011_12.merge(weights_2011_12, how="inner", on=["hhcode", "memno"])
individual_balance_sheet_2011_12 = individual_balance_sheet_2011_12.drop(["sec_x", "sec_y", "province_y", "region_y"], axis=1)
individual_balance_sheet_2011_12.rename(index=str, inplace=True, columns={
        "province_x": "province",
        "region_x": "region"
})
individual_balance_sheet_2011_12[0:5]

,hhcode,province,region,psu,memno,income,relation_to_head,sex,age,birth_year,weights
0,1011010101,punjab,urban,10110101,1,36000.0,son/daughter,male,38,1973,1300.094971
1,1011010102,punjab,urban,10110101,1,220596.0,head,male,58,1953,1300.094971
2,1011010103,punjab,urban,10110101,2,90000.0,other,male,27,1984,1300.094971
3,1011010103,punjab,urban,10110101,3,36000.0,other,male,18,1993,1300.094971
4,1011010104,punjab,urban,10110101,1,132000.0,head,male,60,1951,1300.094971

### 2012 - 2013

In [44]:
weights_2012_13 = pd.read_stata('./heisSurvey/2012-13/plist_1.dta')
weights_2012_13["hhcode"] = weights_2012_13["hhcode"].astype(int)
weights_2012_13 = weights_2012_13.drop(["sec", "psu", "sbq52", "sbq53", "sbq04", "sbq06", "sbq07", "sbq08", "sbq09", "sbq10"], axis=1)
weights_2012_13.rename(index=str, inplace=True, columns={
        "sbq02": "relation_to_head",
        "sbq03": "sex",
        "sbq51": "birth_year",
        "weight": "weights"
})
weights_2012_13[0:5]

,hhcode,hh,province,district,region,idc,relation_to_head,sex,birth_year,age,weights
0,1111000101,1,kpk,bannu,urban,1,head,male,1964,48,63.1731
1,1111000101,1,kpk,bannu,urban,2,spouse,female,1970,42,63.1731
2,1111000101,1,kpk,bannu,urban,3,son/daughter,female,2002,10,63.1731
3,1111000101,1,kpk,bannu,urban,4,son/daughter,female,2003,9,63.1731
4,1111000101,1,kpk,bannu,urban,5,son/daughter,female,2005,7,63.1731

This year, there is no balance sheet that adds up individual survey items. We therefore reconstruct it similar to how it was created in other years.

In [45]:
unweighted_individual_balance_sheet_2012_13 = pd.read_stata('./heisSurvey/2012-13/sec_e.dta')
unweighted_individual_balance_sheet_2012_13.drop(["sec", "seq01", "seq02", "seq03", "seq04", "seq06", "seq07", "seq11", "seq12", "seq13", "seq14", "seq16", "seq18", "seq20", "seq22"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2012_13.rename(index=str, inplace=True, columns={
        "seq05": "industry_sector",
        "seq08": "monthly_income", 
        "seq09": "months_worked", 
        "seq10": "annual_earnings",
        "seq15": "other_annual_earnings",
        "seq17": "other_other_annual_earnings",
        "seq19": "selling_wages_annual_earnings",
        "seq21": "pension_annual_earnings",
        "seq23": "remittance_within_pak",
        "seq24": "remittance_outside_pak",
        "seq25": "rent_income",
        "seq26": "other_income"
})
unweighted_individual_balance_sheet_2012_13["hhcode"] = unweighted_individual_balance_sheet_2012_13["hhcode"].astype(int)

# replace NaNs with 0s
unweighted_individual_balance_sheet_2012_13.monthly_income.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.months_worked.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.other_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.other_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.other_other_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.selling_wages_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.pension_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.remittance_within_pak.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.remittance_outside_pak.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.rent_income.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2012_13.other_income.fillna(0, inplace=True)

# calculate annual income
unweighted_individual_balance_sheet_2012_13["income"] = \
    (unweighted_individual_balance_sheet_2012_13["monthly_income"] * unweighted_individual_balance_sheet_2012_13["months_worked"]) + \
    unweighted_individual_balance_sheet_2012_13["annual_earnings"] + \
    unweighted_individual_balance_sheet_2012_13["other_annual_earnings"] + \
    unweighted_individual_balance_sheet_2012_13["other_other_annual_earnings"] + \
    unweighted_individual_balance_sheet_2012_13["selling_wages_annual_earnings"] + \
    unweighted_individual_balance_sheet_2012_13["pension_annual_earnings"] + \
    unweighted_individual_balance_sheet_2012_13["remittance_within_pak"] + \
    unweighted_individual_balance_sheet_2012_13["remittance_outside_pak"] + \
    unweighted_individual_balance_sheet_2012_13["rent_income"] + \
    unweighted_individual_balance_sheet_2012_13["other_income"]

unweighted_individual_balance_sheet_2012_13.drop(["annual_earnings", "monthly_income", "months_worked", "other_annual_earnings", "other_other_annual_earnings", "selling_wages_annual_earnings", "pension_annual_earnings", "remittance_within_pak", "remittance_outside_pak", "rent_income", "other_income"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2012_13[0:5]

       hhcode  province  region  district  idc  industry_sector    income
0  1111000101         1       1       111  1.0             45.0  216000.0
1  1111000101         1       1       111  2.0             85.0  300000.0
2  1111000101         1       1       111  3.0              NaN       0.0
3  1111000101         1       1       111  8.0              NaN       0.0
4  1111000102         1       1       111  1.0             85.0  228000.0

In [46]:
unweighted_hh_balance_sheet_2012_13 = unweighted_individual_balance_sheet_2012_13.groupby(["hhcode", "province", "district", "region"]).agg({'income': 'sum'})
unweighted_hh_balance_sheet_2012_13.reset_index(level=unweighted_hh_balance_sheet_2012_13.index.names, inplace=True)
unweighted_hh_balance_sheet_2012_13[0:5]

       hhcode  province  district  region    income
0  1111000101         1       111       1  516000.0
1  1111000102         1       111       1  228000.0
2  1111000103         1       111       1  500000.0
3  1111000105         1       111       1  144000.0
4  1111000106         1       111       1  384000.0

In [47]:
# HOUSEHOLD BALANCE SHEET
weights_2012_13_subset = weights_2012_13[["hhcode", "weights"]].drop_duplicates().set_index('hhcode')
hh_balance_sheet_2012_13 = unweighted_hh_balance_sheet_2012_13.join(weights_2012_13_subset, on='hhcode')
hh_balance_sheet_2012_13[0:5]

       hhcode  province  district  region    income  weights
0  1111000101         1       111       1  516000.0  63.1731
1  1111000102         1       111       1  228000.0  63.1731
2  1111000103         1       111       1  500000.0  63.1731
3  1111000105         1       111       1  144000.0  63.1731
4  1111000106         1       111       1  384000.0  63.1731

In [48]:
# INDIVIDUAL BALANCE SHEET
weights_2012_13_subset = weights_2012_13.drop(["province", "district", "region"], axis=1).set_index(['hhcode', 'idc'])
individual_balance_sheet_2012_13 = unweighted_individual_balance_sheet_2012_13.join(weights_2012_13_subset, on=["hhcode", "idc"])
print("num_rows", individual_balance_sheet_2012_13.shape[0])
individual_balance_sheet_2012_13[0:5]

num_rows 356949

,hhcode,province,region,district,idc,industry_sector,income,hh,relation_to_head,sex,birth_year,age,weights
0,1111000101,1,1,111,1.0,45.0,216000.0,1.0,head,male,1964.0,48.0,63.1731
1,1111000101,1,1,111,2.0,85.0,300000.0,1.0,spouse,female,1970.0,42.0,63.1731
2,1111000101,1,1,111,3.0,NaN,0.0,1.0,son/daughter,female,2002.0,10.0,63.1731
3,1111000101,1,1,111,8.0,NaN,0.0,1.0,father/mother,female,1947.0,65.0,63.1731
4,1111000102,1,1,111,1.0,85.0,228000.0,2.0,head,male,1960.0,52.0,63.1731

### 2013 - 2014

In [49]:
weights_2013_14 = pd.read_stata('./heisSurvey/2013-14/plist.dta')
weights_2013_14.drop(["psu", "hhcode", "s1aq03", "s1aq05", "s1aq62", "s1aq63", "s1aq07", "s1aq08", "s1aq09", "s1aq10", "s1aq11"], inplace=True, axis=1)
weights_2013_14.rename(index=str, inplace=True, columns={
        "s1aq02": "relation_to_head",
        "s1aq04": "sex",
        "s1aq64": "birth_year",
        "psu_new": "psu",
        "hhcode_new": "hhcode"
})
weights_2013_14["hhcode"] = weights_2013_14["hhcode"].astype(int)

# reorder columns
cols = list(weights_2013_14.columns)
cols = cols[-3:] + cols[:-3]
weights_2013_14 = weights_2013_14[cols]

weights_2013_14[0:5]

,hhcode,stratum,psu,province,region,idc,relation_to_head,sex,age,birth_year,weights
0,1111010101,11110,11110101,kpk,rural,51,head,female,37,1976,741.67865
1,1111010101,11110,11110101,kpk,rural,52,son/daughter,female,12,2001,741.67865
2,1111010101,11110,11110101,kpk,rural,53,son/daughter,male,9,2004,741.67865
3,1111010101,11110,11110101,kpk,rural,54,son/daughter,male,7,2006,741.67865
4,1111010101,11110,11110101,kpk,rural,55,son/daughter,female,5,2008,741.67865

In [50]:
unweighted_hh_balance_sheet_2013_14 = pd.read_stata('./heisSurvey/2013-14/sec_12c.dta')
unweighted_hh_balance_sheet_2013_14.drop(["psu", "hhcode", "sec"], inplace=True, axis=1)
unweighted_hh_balance_sheet_2013_14.rename(index=str, inplace=True, columns={
        "t_income": "income", 
        "t_exp": "expenditure", 
        "ratio_lrg": "does_ratio_make_sense",
        "psu_new": "psu",
        "hhcode_new": "hhcode"
})
# removes a single row which was excluded in the new hhcodes and stratum
unweighted_hh_balance_sheet_2013_14 = unweighted_hh_balance_sheet_2013_14[pd.notnull(unweighted_hh_balance_sheet_2013_14["hhcode"])]
unweighted_hh_balance_sheet_2013_14["hhcode"] = unweighted_hh_balance_sheet_2013_14["hhcode"].astype(int)

# reorder columns
cols = list(unweighted_hh_balance_sheet_2013_14.columns)
cols = cols[-3:] + cols[:-3]
unweighted_hh_balance_sheet_2013_14 = unweighted_hh_balance_sheet_2013_14[cols]

print("num_rows", unweighted_hh_balance_sheet_2013_14.shape[0])
unweighted_hh_balance_sheet_2013_14[0:5]

num_rows 17869

,hhcode,stratum,psu,province,region,income,expenditure,ratio,does_ratio_make_sense
0,1111010101,11110.0,11110101.0,kpk,rural,0.0,176960.0,0.0000,no
1,1111010102,11110.0,11110101.0,kpk,rural,280600.0,128831.0,2.1800,yes
2,1111010103,11110.0,11110101.0,kpk,rural,36000.0,111490.0,0.3220,no
3,1111010104,11110.0,11110101.0,kpk,rural,45000.0,44778.0,1.0049,yes
4,1111010105,11110.0,11110101.0,kpk,rural,240000.0,256602.0,0.9353,yes

In [51]:
# If the ratio did not make sense, a more thorough accounting involving transfers, 
# buildings, financial assets, agricultural assets etc were taken into account.
capital_2013_14 = pd.read_stata('./heisSurvey/2013-14/sec_12e.dta')
capital_2013_14.drop(["psu", "hhcode"], inplace=True, axis=1)
capital_2013_14.rename(index=str, inplace=True, columns={
        "t_income": "income", 
        "t_exp": "expenditure", 
        "ratio_lrg1": "does_ratio_make_sense",
        "psu_new": "psu",
        "hhcode_new": "hhcode"
})
capital_2013_14["hhcode"] = capital_2013_14["hhcode"].astype(int)

# reorder columns
cols = list(capital_2013_14.columns)
cols = cols[-3:] + cols[:-3]
capital_2013_14 = capital_2013_14[cols]

print("num_rows", capital_2013_14.shape[0])
capital_2013_14[0:5]

num_rows 4419

,hhcode,stratum,psu,province,region,sec,income,expenditure,ratio,does_ratio_make_sense
0,1111010101,11110,11110101,kpk,rural,12E,197600,179520.0,1.100,1
1,1111010103,11110,11110101,kpk,rural,12E,126000,113020.0,1.110,1
2,1111010108,11110,11110101,kpk,rural,12E,219500,180155.0,1.283,1
3,1111010109,11110,11110101,kpk,rural,12E,217000,250070.0,0.870,1
4,1111010111,11110,11110101,kpk,rural,12E,232000,270694.0,0.857,1

In [52]:
# replace incomes as the "capital_2013_14" table is more accurate
for i in range(0, capital_2013_14.shape[0]):
    hhcode = capital_2013_14["hhcode"][i]
    new_income = capital_2013_14["income"][i]
    new_expenditure = capital_2013_14["expenditure"][i]
    new_ratio = capital_2013_14["ratio"][i]
    new_message = 'yes' if new_ratio >= 0.85 else 'no'
    
    row_index = unweighted_hh_balance_sheet_2013_14.index[unweighted_hh_balance_sheet_2013_14['hhcode'] == hhcode].tolist()[0]
    unweighted_hh_balance_sheet_2013_14.at[row_index, "income"] = new_income
    unweighted_hh_balance_sheet_2013_14.at[row_index, "expenditure"] = new_expenditure
    unweighted_hh_balance_sheet_2013_14.at[row_index, "ratio"] = new_ratio
    unweighted_hh_balance_sheet_2013_14.at[row_index, "does_ratio_make_sense"] = new_message

In [53]:
# HOUSEHOLD BALANCE SHEET
weights_2013_14_subset = weights_2013_14[["hhcode", "weights"]].drop_duplicates().set_index('hhcode')
hh_balance_sheet_2013_14 = unweighted_hh_balance_sheet_2013_14.join(weights_2013_14_subset, on='hhcode')
hh_balance_sheet_2013_14[0:5]

,hhcode,stratum,psu,province,region,income,expenditure,ratio,does_ratio_make_sense,weights
0,1111010101,11110.0,11110101.0,kpk,rural,197600.0,179520.0,1.1000,yes,741.67865
1,1111010102,11110.0,11110101.0,kpk,rural,280600.0,128831.0,2.1800,yes,741.67865
2,1111010103,11110.0,11110101.0,kpk,rural,126000.0,113020.0,1.1100,yes,741.67865
3,1111010104,11110.0,11110101.0,kpk,rural,45000.0,44778.0,1.0049,yes,741.67865
4,1111010105,11110.0,11110101.0,kpk,rural,240000.0,256602.0,0.9353,yes,741.67865

In [54]:
# INDIVIDUAL BALANCE SHEET
unweighted_individual_balance_sheet_2013_14 = pd.read_stata('./heisSurvey/2013-14/sec_12a.dta')
unweighted_individual_balance_sheet_2013_14 = unweighted_individual_balance_sheet_2013_14.drop(["psu_new", "hhcode", "psu", "sec", "bs1qc1", "bs1qc2", "bs1qc3", "bs1qc4", "bs1qc5", "bs1qc6", "bs1qc7"], axis=1)
unweighted_individual_balance_sheet_2013_14.rename(index=str, inplace=True, columns={
        "bs1qc8": "income",
        "hhcode_new": "hhcode"
})
unweighted_individual_balance_sheet_2013_14["hhcode"] = unweighted_individual_balance_sheet_2013_14["hhcode"].astype(int)

# reorder columns
cols = list(unweighted_individual_balance_sheet_2013_14.columns)
cols = cols[-3:] + cols[:-3]
unweighted_individual_balance_sheet_2013_14 = unweighted_individual_balance_sheet_2013_14[cols]

individual_balance_sheet_2013_14 = unweighted_individual_balance_sheet_2013_14.merge(weights_2013_14, how="inner", on=["hhcode", "idc"])
individual_balance_sheet_2013_14 = individual_balance_sheet_2013_14.drop(["province_y", "region_y", "stratum_y"], axis=1)
individual_balance_sheet_2013_14.rename(index=str, inplace=True, columns={
        "province_x": "province",
        "region_x": "region",
        "stratum_x": "stratum"
})

# reorder columns
cols = list(individual_balance_sheet_2013_14.columns)
cols = cols[1:] + cols[:1]
individual_balance_sheet_2013_14 = individual_balance_sheet_2013_14[cols]

individual_balance_sheet_2013_14[0:5]

,hhcode,stratum,province,region,idc,psu,relation_to_head,sex,age,birth_year,weights,income
0,1111010102,11110,kp,rural,1.0,11110101,head,male,42,1971,741.67865,280600.0
1,1111010103,11110,kp,rural,51.0,11110101,head,female,30,1983,741.67865,36000.0
2,1111010104,11110,kp,rural,51.0,11110101,head,female,50,1963,741.67865,45000.0
3,1111010105,11110,kp,rural,1.0,11110101,head,male,54,1959,741.67865,240000.0
4,1111010106,11110,kp,rural,1.0,11110101,head,male,36,1977,741.67865,260000.0

### 2014 - 2015

In [55]:
weights_2014_15 = pd.read_stata('./heisSurvey/2014-15/plist.dta')
weights_2014_15["hhcode"] = weights_2014_15["hhcode"].astype(int)
weights_2014_15 = weights_2014_15.drop(["sec", "psu", "sbq62", "sbq63", "sbq03", "sbq11", "sbq07", "sbq08", "sbq09", "sbq10", "sbq05"], axis=1)
weights_2014_15.rename(index=str, inplace=True, columns={
        "sbq02": "relation_to_head",
        "sbq04": "sex",
        "sbq61": "birth_year",
        "weight": "weights"
})
weights_2014_15[0:5]

,hhcode,province,region,district,idc,relation_to_head,sex,birth_year,age,weights
0,1111000101,kp,rural,chitral,1,head,male,1933,81,168.0
1,1111000101,kp,rural,chitral,2,spouse,female,1944,70,168.0
2,1111000101,kp,rural,chitral,3,son/daughter,male,1970,44,168.0
3,1111000101,kp,rural,chitral,4,son/daughter-in-law,female,1977,37,168.0
4,1111000101,kp,rural,chitral,5,grand child,male,2002,12,168.0

This year, there is no balance sheet that adds up individual survey items. We therefore reconstruct it similar to how it was created in other years.

In [56]:
unweighted_individual_balance_sheet_2014_15 = pd.read_stata('./heisSurvey/2014-15/sec_e.dta', convert_categoricals=False)
unweighted_individual_balance_sheet_2014_15.drop(["sec", "seq01", "seq02", "seq03", "seq04", "seq06", "seq07", "seq11", "seq12", "seq13", "seq14", "seq16", "seq18", "seq20", "seq22"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2014_15.rename(index=str, inplace=True, columns={
        "seq05": "industry_sector",
        "seq08": "monthly_income", 
        "seq09": "months_worked", 
        "seq10": "annual_earnings",
        "seq15": "other_annual_earnings",
        "seq17": "other_other_annual_earnings",
        "seq19": "selling_wages_annual_earnings",
        "seq21": "pension_annual_earnings",
        "seq23": "remittance_within_pak",
        "seq24": "remittance_outside_pak",
        "seq25": "rent_income",
        "seq26": "other_income"
})
unweighted_individual_balance_sheet_2014_15["hhcode"] = unweighted_individual_balance_sheet_2014_15["hhcode"].astype(int)

# replace NaNs with 0s
unweighted_individual_balance_sheet_2014_15.monthly_income.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.months_worked.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.other_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.other_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.other_other_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.selling_wages_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.pension_annual_earnings.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.remittance_within_pak.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.remittance_outside_pak.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.rent_income.fillna(0, inplace=True)
unweighted_individual_balance_sheet_2014_15.other_income.fillna(0, inplace=True)

# calculate annual income
unweighted_individual_balance_sheet_2014_15["income"] = \
    (unweighted_individual_balance_sheet_2014_15["monthly_income"] * unweighted_individual_balance_sheet_2014_15["months_worked"]) + \
    unweighted_individual_balance_sheet_2014_15["annual_earnings"] + \
    unweighted_individual_balance_sheet_2014_15["other_annual_earnings"] + \
    unweighted_individual_balance_sheet_2014_15["other_other_annual_earnings"] + \
    unweighted_individual_balance_sheet_2014_15["selling_wages_annual_earnings"] + \
    unweighted_individual_balance_sheet_2014_15["pension_annual_earnings"] + \
    unweighted_individual_balance_sheet_2014_15["remittance_within_pak"] + \
    unweighted_individual_balance_sheet_2014_15["remittance_outside_pak"] + \
    unweighted_individual_balance_sheet_2014_15["rent_income"] + \
    unweighted_individual_balance_sheet_2014_15["other_income"]

unweighted_individual_balance_sheet_2014_15.drop(["annual_earnings", "monthly_income", "months_worked", "other_annual_earnings", "other_other_annual_earnings", "selling_wages_annual_earnings", "pension_annual_earnings", "remittance_within_pak", "remittance_outside_pak", "rent_income", "other_income"], inplace=True, axis=1)
unweighted_individual_balance_sheet_2014_15[0:5]

,hhcode,psu,province,region,district,idc,hhno,industry_sector,income
0,1111000101,11110001,1,1,111,1,01,150.0,30000.0
1,1111000101,11110001,1,1,111,2,01,NaN,0.0
2,1111000101,11110001,1,1,111,3,01,150.0,60000.0
3,1111000101,11110001,1,1,111,4,01,NaN,0.0
4,1111000101,11110001,1,1,111,5,01,NaN,0.0

In [57]:
unweighted_hh_balance_sheet_2014_15 = unweighted_individual_balance_sheet_2014_15.groupby(["hhcode", "province", "district", "region"]).agg({'income': 'sum'})
unweighted_hh_balance_sheet_2014_15.reset_index(level=unweighted_hh_balance_sheet_2014_15.index.names, inplace=True)
unweighted_hh_balance_sheet_2014_15[0:5]

       hhcode  province  district  region    income
0  1111000101         1       111       1   90000.0
1  1111000102         1       111       1  206000.0
2  1111000103         1       111       1  170000.0
3  1111000104         1       111       1  198000.0
4  1111000105         1       111       1  160000.0

In [58]:
# HOUSEHOLD BALANCE SHEET
weights_2014_15_subset = weights_2014_15[["hhcode", "weights"]].drop_duplicates().set_index('hhcode')
hh_balance_sheet_2014_15 = unweighted_hh_balance_sheet_2014_15.join(weights_2014_15_subset, on='hhcode')
print("num_rows", hh_balance_sheet_2014_15.shape[0])
hh_balance_sheet_2014_15[0:5]

num_rows 78635

       hhcode  province  district  region    income  weights
0  1111000101         1       111       1   90000.0    168.0
1  1111000102         1       111       1  206000.0    168.0
2  1111000103         1       111       1  170000.0    168.0
3  1111000104         1       111       1  198000.0    168.0
4  1111000105         1       111       1  160000.0    168.0

In [59]:
# INDIVIDUAL BALANCE SHEET
weights_2014_15_subset = weights_2014_15.drop(["province", "district", "region"], axis=1).set_index(['hhcode', 'idc'])
individual_balance_sheet_2014_15 = unweighted_individual_balance_sheet_2014_15.join(weights_2014_15_subset, on=["hhcode", "idc"])
print("num_rows", individual_balance_sheet_2014_15.shape[0])
individual_balance_sheet_2014_15[0:5]

num_rows 361515

,hhcode,psu,province,region,district,idc,hhno,industry_sector,income,relation_to_head,sex,birth_year,age,weights
0,1111000101,11110001,1,1,111,1,01,150.0,30000.0,head,male,1933,81,168.0
1,1111000101,11110001,1,1,111,2,01,NaN,0.0,spouse,female,1944,70,168.0
2,1111000101,11110001,1,1,111,3,01,150.0,60000.0,son/daughter,male,1970,44,168.0
3,1111000101,11110001,1,1,111,4,01,NaN,0.0,son/daughter-in-law,female,1977,37,168.0
4,1111000101,11110001,1,1,111,5,01,NaN,0.0,grand child,male,2002,12,168.0

### 2015 - 2016

The final year 🙏

In [60]:
weights_2015_16 = pd.read_stata('./heisSurvey/2015-16/plist.dta')
weights_2015_16.drop(["psu", "s1aq03", "s1aq05", "s1aq61", "s1aq62", "s1aq07", "s1aq08", "s1aq09", "s1aq10", "s1aq11"], inplace=True, axis=1)
weights_2015_16.rename(index=str, inplace=True, columns={
        "s1aq02": "relation_to_head",
        "s1aq04": "sex",
        "s1aq63": "birth_year"
})
weights_2015_16["hhcode"] = weights_2015_16["hhcode"].astype(int)
weights_2015_16[0:5]

,hhcode,province,region,sec,idc,relation_to_head,sex,age,birth_year,weights
0,1102010101,kp,urban,01A,1,head,male,45,1970,89.760666
1,1102010101,kp,urban,01A,2,nephew\niece,male,22,1993,89.760666
2,1102010101,kp,urban,01A,3,nephew\niece,male,15,2000,89.760666
3,1102010101,kp,urban,01A,51,spouse,female,40,1975,89.760666
4,1102010101,kp,urban,01A,52,son/daughter,female,6,2009,89.760666

In [61]:
unweighted_hh_balance_sheet_2015_16 = pd.read_stata('./heisSurvey/2015-16/sec_9c.dta')
unweighted_hh_balance_sheet_2015_16.drop(["sec"], inplace=True, axis=1)
unweighted_hh_balance_sheet_2015_16.rename(index=str, inplace=True, columns={
        "bs3c01": "income", 
        "bs3c02": "expenditure", 
        "bs3c03": "ratio",
        "bs3c04": "does_ratio_make_sense"
})
unweighted_hh_balance_sheet_2015_16["hhcode"] = unweighted_hh_balance_sheet_2015_16["hhcode"].astype(int)

print("num_rows", unweighted_hh_balance_sheet_2015_16.shape[0])
unweighted_hh_balance_sheet_2015_16[0:5]

num_rows 24238

,hhcode,province,region,psu,income,expenditure,ratio,does_ratio_make_sense
0,1102010101,kp,urban,11020101,480000.0,208692,2.30,yes
1,1102010102,kp,urban,11020101,294000.0,160948,1.83,yes
2,1102010103,kp,urban,11020101,300520.0,186756,1.61,yes
3,1102010104,kp,urban,11020101,12900.0,284874,0.05,no
4,1102010105,kp,urban,11020101,516000.0,412734,1.30,yes

In [62]:
# If the ratio did not make sense, a more thorough accounting involving transfers, 
# buildings, financial assets, agricultural assets etc were taken into account.
capital_2015_16 = pd.read_stata('./heisSurvey/2015-16/sec_9e.dta')
capital_2015_16.rename(index=str, inplace=True, columns={
        "bs5ec01": "income", 
        "bs5ec02": "expenditure", 
        "bs5ec03": "ratio",
        "bs5ec04": "does_ratio_make_sense"
})
capital_2015_16["hhcode"] = capital_2015_16["hhcode"].astype(int)

print("num_rows", capital_2015_16.shape[0])
capital_2015_16[0:5]

num_rows 5082

,hhcode,province,region,psu,sec,filler,income,expenditure,ratio,does_ratio_make_sense
0,1102010104,kp,urban,11020101,09E,0.0,262900.0,294234,0.8900,yes
1,1102010107,kp,urban,11020101,09E,0.0,360000.0,336217,1.0700,yes
2,1102010108,kp,urban,11020101,09E,0.0,420000.0,190780,2.2014,yes
3,1102010109,kp,urban,11020101,09E,0.0,2650000.0,3129340,0.8500,yes
4,1102010111,kp,urban,11020101,09E,0.0,540000.0,505740,1.0677,yes

In [63]:
# replace incomes as the "capital_2015_16" table is more accurate
for i in range(0, capital_2015_16.shape[0]):
    hhcode = capital_2015_16["hhcode"][i]
    new_income = capital_2015_16["income"][i]
    new_expenditure = capital_2015_16["expenditure"][i]
    new_ratio = capital_2015_16["ratio"][i]
    new_message = 'yes' if new_ratio >= 0.85 else 'no'
    
    row_index = unweighted_hh_balance_sheet_2015_16.index[unweighted_hh_balance_sheet_2015_16['hhcode'] == hhcode].tolist()[0]
    unweighted_hh_balance_sheet_2015_16.at[row_index, "income"] = new_income
    unweighted_hh_balance_sheet_2015_16.at[row_index, "expenditure"] = new_expenditure
    unweighted_hh_balance_sheet_2015_16.at[row_index, "ratio"] = new_ratio
    unweighted_hh_balance_sheet_2015_16.at[row_index, "does_ratio_make_sense"] = new_message

In [64]:
# HOUSEHOLD BALANCE SHEET
weights_2015_16_subset = weights_2015_16[["hhcode", "weights"]].drop_duplicates().set_index('hhcode')
hh_balance_sheet_2015_16 = unweighted_hh_balance_sheet_2015_16.join(weights_2015_16_subset, on='hhcode')
hh_balance_sheet_2015_16[0:5]

,hhcode,province,region,psu,income,expenditure,ratio,does_ratio_make_sense,weights
0,1102010101,kp,urban,11020101,480000.0,208692,2.30,yes,89.760666
1,1102010102,kp,urban,11020101,294000.0,160948,1.83,yes,89.760666
2,1102010103,kp,urban,11020101,300520.0,186756,1.61,yes,89.760666
3,1102010104,kp,urban,11020101,262900.0,294234,0.89,yes,89.760666
4,1102010105,kp,urban,11020101,516000.0,412734,1.30,yes,89.760666

In [65]:
# INDIVIDUAL BALANCE SHEET
unweighted_individual_balance_sheet_2015_16 = pd.read_stata('./heisSurvey/2015-16/sec_9a.dta')
unweighted_individual_balance_sheet_2015_16 = unweighted_individual_balance_sheet_2015_16.drop(["sec", "bs1qc1", "bs1qc2", "bs1qc3", "bs1qc4", "bs1qc5", "bs1qc6", "bs1qc7"], axis=1)
unweighted_individual_balance_sheet_2015_16.rename(index=str, inplace=True, columns={
        "bs1qc8": "income"
})
unweighted_individual_balance_sheet_2015_16["hhcode"] = unweighted_individual_balance_sheet_2015_16["hhcode"].astype(int)

individual_balance_sheet_2015_16 = unweighted_individual_balance_sheet_2015_16.merge(weights_2015_16, how="inner", on=["hhcode", "idc"])
individual_balance_sheet_2015_16 = individual_balance_sheet_2015_16.drop(["province_y", "region_y"], axis=1)
individual_balance_sheet_2015_16.rename(index=str, inplace=True, columns={
        "province_x": "province",
        "region_x": "region"
})

individual_balance_sheet_2015_16[0:5]

,hhcode,province,region,psu,idc,income,sec,relation_to_head,sex,age,birth_year,weights
0,1102010101,kp,urban,11020101,1,420000.0,01A,head,male,45,1970,89.760666
1,1102010101,kp,urban,11020101,2,60000.0,01A,nephew\niece,male,22,1993,89.760666
2,1102010102,kp,urban,11020101,1,186000.0,01A,head,male,29,1986,89.760666
3,1102010102,kp,urban,11020101,2,108000.0,01A,father/mother,male,65,1950,89.760666
4,1102010103,kp,urban,11020101,1,180520.0,01A,head,male,67,1948,89.760666

## Tax Data

We load tax data from years 2013 - 2017. Note that the tax year starts from June. The names of the relevant tables that we create after running the code below are listed below. See the bottom of this section for code to download these tables.

LISTS

The original tax PDF files are too large. Here, we download the files locally (if they have already been downloaded with the appropriate names, then we will skip over those files). WARNING: this takes awhile (each PDF is about 20,000 pages or approximately 10 minutes).

In [66]:
# Download Tax Data - takes awhile
folder_name = "taxpayerData"
tax_links = {
    "2013_ParliamentarianTax": "http://www.fbr.gov.pk/Downloads/Document/3769/1",
    "2014_ParliamentarianTax": "http://www.fbr.gov.pk/Downloads/Document/4122/1",
    "2015_ParliamentarianTax": "http://www.fbr.gov.pk/Downloads/Document/14688/1",
    "2016_ParliamentarianTax": "http://www.fbr.gov.pk/Downloads/Document/24994/1",
    "2017_ParliamentarianTax": "http://www.fbr.gov.pk/Downloads/Document/25724/1",
    "2013_Tax": "http://www.fbr.gov.pk/Downloads/Document/3808/1",
    "2014_Tax": "http://www.fbr.gov.pk/Downloads/Document/4124/1",
    "2015_Tax": "http://www.fbr.gov.pk/Downloads/Document/14689/1",
    "2016_Tax": "http://www.fbr.gov.pk/Downloads/Document/25006/1",
    "2017_Tax": "http://www.fbr.gov.pk/Downloads/Document/25725/1"
}

if not os.path.exists("./" + folder_name + "/"):
    os.makedirs("./" + folder_name + "/")
    
for k in tax_links.keys():
    if os.path.exists("./" + folder_name + "/" + k + ".pdf"):
        print("file already exists:", k)
        continue
    link = tax_links[k]
    response = urllib.request.urlopen(str(link))
    with open("./" + folder_name + "/" + k + ".pdf", 'wb') as f:
        f.write(response.read())
    print("file uploaded:", k)

file already exists: 2015_ParliamentarianTax
file already exists: 2017_ParliamentarianTax
file already exists: 2015_Tax
file already exists: 2017_Tax
file already exists: 2016_Tax
file already exists: 2014_ParliamentarianTax
file already exists: 2014_Tax
file already exists: 2013_Tax
file already exists: 2016_ParliamentarianTax
file already exists: 2013_ParliamentarianTax

### 2012 - 2013

### 2013 - 2014

### 2014 - 2015

### 2015 - 2016

### 2016 - 2017

# Combining the Data

Here we combine everything

# Visualization and Conclusions

**NOTE**: DOING THIS JUST WITH SURVEY DATA RIGHT NOW

Questions
**1) When calculating national income share, your denominator of national income that you use - it's from your sample data right? how do you explain the discrepancy - can we assign it entirely to missing top incomes? What is the norm for surveys + taxes being a percent of national income (should be 90ish but what is it usually for say OECD and then similar countries like India?**

**Helper Functions**

In [103]:
def get_table(table_type, start_year, end_year):  
    """
    Args:
        str (table_type): accepts only 'hh' for household or 'individual' for individual.
        int (start_year): currently limited to 2004.
        int (end_year): currently limited to 2016.

    Returns:
        pd.DataFrame: dataframe corresponding to table.
    """
    return eval(table_type + "_balance_sheet_" + str(start_year) + "_" + str(end_year)[-2:])
    
def weighted_sum(data, weights):
    """
    Args:
        pd.Series (data)
        pd.Series (weights)

    Returns:
        float: weighted sum.
    """
    cum_sum = 0
    for i in range(0, len(weights)):
        cum_sum += data[i] * weights[i]
    return cum_sum

def top_percentiles(p, data, weights):
    """
    Args:
        int (p): 0 < p < 1.
        pd.Series (data)
        pd.Series (weights)

    Returns:
        (list, list): corresponding data, and weights.
    """
    q = (1 - p) * sum(weights)
    sorted_data = data.sort_values()
    index = len(weights)
    cum_sum = sum(weights)
    while cum_sum > q:
        index -= 1
        cum_sum -= weights[index]
    return (sorted_data[index:], weights[index:])

def bottom_percentiles(p, data, weights):
    """
    Args:
        int (p): 0 <= p <=1.
        pd.Series (data)
        pd.Series (weights)

    Returns:
        (list, list): corresponding data, and weights.
    """
    q = p * sum(weights)
    sorted_data = data.sort_values()
    index = -1
    cum_sum = 0
    while cum_sum < q:
        index += 1
        cum_sum += weights[index]
    return (sorted_data[:index], weights[:index])

In [104]:
p_data, p_weights = top_percentiles(0.01, hh_balance_sheet_2004_05["income"], hh_balance_sheet_2004_05["weights"])

In [70]:
hh_balance_sheet_2004_05[pd.isnull(hh_balance_sheet_2004_05["income"])]

,hhcode,income,expenditure,psu,region,psu_hies,hhno,hhcode_hies,province,weights
11663,3172001603,NaN,41125,31720016,rural,31720301,3,3172030103,nwfp,1715.187988

## General Basics

**Helper Functions**

## National Income Shares

**Helper Functions**

In [101]:
def calculate_income_share(table_type, year, p, top=True):
    """
    Args:
        str (table_type): accepts only 'hh' for household or 'individual' for individual.
        int (year): currently limited to 2004 - 2015.
        float (percentile)
        bool (top): getting top [percentile]% or bottom [percentile]%? defaults to top.
        
    Returns:
        float: income share.
    """
    t = get_table(table_type, year, year+1)
    if top:
        p_data, p_weights = top_percentiles(p, t["income"], t["weights"])
    else:
        p_data, p_weights = bottom_percentiles(p, t["income"], t["weights"])
    return round(weighted_sum(p_data, p_weights) / weighted_sum(t["income"], t["weights"]), 2)

In [112]:
calculate_income_share("individual", 2015, 0.01)

0.11

In [73]:
# LOOKS LIKE THE OLD SURVEYS TAKE INTO ACCOUNT CAPITAL INCOME --- wait looks like it might only be capital income

In [94]:
individual_balance_sheet_2004_05[individual_balance_sheet_2004_05["hhcode"] == 1001100205]

,hhcode,msno,industry_sector,psu,quarter,region,psu_hies,hhno,hhcode_hies,province,income,sex,relation_to_head,age,weights,birth_year
20,1001100205,1,10 other,10011002,1,urban,11711101,5,1171110105,punjab,91200.0,male,1:self,52,145.544006,1967
21,1001100205,2,NaN,10011002,1,urban,11711101,5,1171110105,punjab,0.0,female,2: husband/wife,53,145.544006,1966
22,1001100205,3,8 real estate & insurance,10011002,1,urban,11711101,5,1171110105,punjab,180000.0,male,3:son/daughter,32,145.544006,1987
23,1001100205,4,10 other,10011002,1,urban,11711101,5,1171110105,punjab,198000.0,male,3:son/daughter,28,145.544006,1991
24,1001100205,5,10 other,10011002,1,urban,11711101,5,1171110105,punjab,70800.0,male,3:son/daughter,25,145.544006,1994
25,1001100205,6,10 other,10011002,1,urban,11711101,5,1171110105,punjab,201600.0,female,3:son/daughter,24,145.544006,1995
26,1001100205,7,NaN,10011002,1,urban,11711101,5,1171110105,punjab,0.0,female,3:son/daughter,22,145.544006,1997
27,1001100205,8,NaN,10011002,1,urban,11711101,5,1171110105,punjab,0.0,male,3:son/daughter,21,145.544006,1998
28,1001100205,9,NaN,10011002,1,urban,11711101,5,1171110105,punjab,0.0,male,3:son/daughter,13,145.544006,2006
29,1001100205,10,NaN,10011002,1,urban,11711101,5,1171110105,punjab,0.0,female,7: son in law / daughter in law,28,145.544006,1991

In [95]:
unweighted_hh_balance_sheet_2004_05[unweighted_hh_balance_sheet_2004_05["hhcode"] == 1001100205]

,hhcode,hhcode_hies,msno,income,expenditure,psu,region,psu_hies,hhno,province
4,1001100205,1171110105,0,617400.0,272012,10011002,urban,11711101,5,punjab

In [93]:
# CORRUPTED HOUSEHOLD DATA
t = unweighted_individual_balance_sheet_2004_05.groupby("hhcode").agg({"income": "sum"}).reset_index()
for i in range(0, t.shape[0]):
    if t["income"][i] > unweighted_hh_balance_sheet_2004_05["income"][i]:
        print(t["hhcode"][i])
        print(i)
        print("\n")

1001100205
4


1001100212
11


1001100504
27


1001100506
29


1001200701
47


1002000511
173


1002000713
191


1002001208
218


1002001214
224


1011000911
265


1012001211
293


1012002103
317


1012002105
319


1021000408
349


1021001010
363


1021100212
399


1021100504
403


1021300102
496


1021300311
515


1022000507
547


1022001311
567


1022003516
604


1032000802
644


1032001309
667


1041001102
704


1042000303
716


1042001104
732


1051001206
792


1051100508
842


1051300205
911


1052000111
953


1052000510
968


1052001401
1007


1052001403
1009


1052001510
1032


1052001807
1045


1052003005
1107


1062001506
1196


1062002304
1210


1072001407
1285


1072001906
1300


1082000310
1344


1082002001
1367


1082002014
1380


1091000711
1393


1091001307
1401


1091100203
1432


1091100208
1437


1091200211
1488


1091201911
1535


1091202305
1541


1091202306
1542


1091202308
1544


1092000407
1642


1092000410
1645


1092001011
1677


1092001209
1691


1092003103
1733


1092003106
1736


1092003107
1737


1092003110
1740


1092003114
1744


1092003115
1745


1092005301
1779


1101001801
1835


1101001803
1837


1101001804
1838


1101001805
1839


1101001806
1840


1101001808
1842


1101001810
1844


1102001204
1878


1102001205
1879


1102001206
1880


1102001207
1881


1102001209
1883


1102001210
1884


1102001211
1885


1102001212
1886


1102001214
1888


1102001215
1889


1102002316
1906


1102003403
1924


1102003404
1925


1102003406
1927


1102003412
1933


1102003414
1935


1102004501
1937


1102004504
1940


1102004506
1942


1102004507
1943


1102004508
1944


1102004511
1947


1102004512
1948


1102004513
1949


1102004515
1951


1102004516
1952


1102005304
1972


1111000505
1989


1111001409
2017


1112000103
2035


1112000114
2046


1112000116
2048


1112000803
2051


1112001207
2071


1112001901
2097


1112001904
2100


1112001906
2102


1112001907
2103


1112001913
2109


1112001914
2110


1112002301
2113


1112002304
2116


1112002306
2118


1112002307
2119


1112002309
2121


1112002310
2122


1112002311
2123


1112002312
2124


1112002313
2125


1112002315
2127


1121300210
2310


1122000204
2328


1122000205
2329


1131000512
2473


1131001110
2483


1132000702
2523


1132000706
2527


1132002014
2567


1141000501
2586


1141000504
2589


1141001105
2602


1142000512
2693


1142000514
2695


1142001216
2729


1142002003
2732


1152000504
2777


1152001608
2827


1152001710
2845


1152001714
2849


1152001815
2866


1152002101
2868


1152002116
2883


1162000414
2908


1162001109
2935


1171001111
3045


1181000109
3118


1181101102
3156


1181101110
3164


1181103412
3224


1181200602
3238


1181200603
3239


1181200605
3241


1181200606
3242


1181200607
3243


1181200608
3244


1181200609
3245


1181200610
3246


1181200611
3247


1181200612
3248


1181204005
3298


1181208002
3353


1181209401
3385


1181301602
3466


1181303107
3488


1182000102
3494


1182000105
3497


1182000112
3504


1182000115
3507


1182000304
3512


1182000313
3521


1182000316
3524


1182000507
3531


1182001102
3542


1182002208
3578


1191000201
3618


1192000701
3687


1192000706
3692


1192000710
3696


1192002002
3720


1192002005
3723


1192002016
3734


1192003305
3770


1192003307
3772


1192004008
3789


1192004213
3810


1201000903
3816


1201001304
3829


1201001602
3839


1201001609
3846


1202000313
3873


1202000702
3878


1202000705
3881


1202000707
3883


1202000708
3884


1202000712
3888


1202000713
3889


1202000714
3890


1202000715
3891


1202000902
3894


1202000911
3903


1202004007
3947


1202004503
3974


1202004509
3980


1202004510
3981


1202004511
3982


1202004515
3986


1212000209
4043


1212000802
4052


1212000805
4055


1212004804
4134


1221000901
4175


1221000909
4183


1221001401
4187


1221001405
4191


1221001410
4196


1222001701
4199


1222001703
4201


1222001712
4210


1222001713
4211


1222002202
4232


1222002208
4237


1222002209
4238


1222002702
4247


1222002706
4251


1222002712
4257


1222003706
4299


1222003715
4308


1222004202
4311


1222004207
4316


1232000315
4376


1232000613
4390


1232001102
4395


1232001103
4396


1232001113
4406


1232001901
4442


1232001903
4444


1232001907
4448


1232001910
4451


1232001914
4455


1241000411
4500


1241100201
4514


1241100411
4536


1241100705
4542


1241100706
4543


1241100710
4547


1241100903
4552


1241200211
4572


1241200606
4579


1241200608
4581


1241201801
4609


1241300301
4645


1241300501
4657


1241300502
4658


1241300505
4661


1241300507
4663


1241300509
4665


1242000408
4688


1242000410
4690


1242000708
4704


1242000710
4706


1242000712
4708


1242000713
4709


1242000715
4711


1242002402
4746


1242002403
4747


1242002404
4748


1242002408
4752


1242002409
4753


1251000206
4814


1252000401
4833


1252000403
4835


1252000405
4837


1252000409
4841


1252000411
4843


1252000414
4846


1252000415
4847


1252000416
4848


1252003714
4894


1261000204
4900


1261000205
4901


1261000207
4903


1261000208
4904


1261000209
4905


1261000210
4906


1262000305
4924


1262000503
4938


1262000505
4940


1262001104
4955


1262001106
4957


1262001110
4961


1262001111
4962


1262001114
4965


1262001116
4967


1262001214
4981


1262002013
5011


1262002501
5015


1262002502
5016


1262002503
5017


1262002504
5018


1262002505
5019


1262002506
5020


1262002507
5021


1262002508
5022


1262002511
5025


1262002512
5026


1262002513
5027


1262002515
5029


1271001306
5064


1271001307
5065


1272000513
5083


1272001114
5100


1272001115
5101


1272001116
5102


1272001412
5114


1272001904
5122


1281000503
5137


1281001304
5150


1281001306
5152


1281001309
5155


1282000906
5164


1282003011
5201


1291000302
5224


1291000303
5225


1291000312
5234


1291001205
5239


1292000308
5254


1292001801
5279


1301000403
5312


1302000316
5337


1302000802
5339


1302000803
5340


1302000804
5341


1302000805
5342


1302000807
5344


1302000808
5345


1302000809
5346


1302000810
5347


1302000811
5348


1302000812
5349


1302000813
5350


1302000814
5351


1302000815
5352


1302000816
5353


1302001502
5355


1302002403
5372


1311000701
5398


1311000702
5399


1311000704
5401


1311000706
5403


1311000708
5405


1311000710
5407


1311000712
5409


1311001411
5420


1311001412
5421


1312000312
5449


1312000313
5450


1312000314
5451


1312000316
5453


1312001411
5464


1312001414
5467


1312001415
5468


1312002401
5486


1312002403
5488


1312002404
5489


1312002407
5492


1312002415
5500


1312002501
5502


1312002502
5503


1312002503
5504


1312002513
5514


1321100301
5585


1321200201
5609


1321200202
5610


1321200205
5613


1321300302
5645


1321300304
5647


1322001707
5690


1322001711
5694


1322001716
5699


1322002407
5722


1322002408
5723


1322002801
5732


1322003801
5763


1322003803
5765


1322003806
5768


1322003807
5769


1322003811
5773


1331001302
5803


1331001303
5804


1331001304
5805


1332002215
5856


1332004014
5887


1341001201
5902


1341001210
5911


1341001211
5912


1342000401
5958


1342000409
5966


1342001101
5990


1342001107
5996


1342001110
5999


1342003406
6059


1342003915
6084


2011000301
6118


2011000304
6121


2011000305
6122


2011000306
6123


2011000307
6124


2011000308
6125


2011000310
6127


2011000311
6128


2011000312
6129


2011001101
6130


2011001103
6132


2011001104
6133


2012000216
6157


2012000601
6158


2012000603
6160


2012002215
6220


2012002601
6222


2012002602
6223


2012002605
6226


2012002606
6227


2012002607
6228


2012002614
6235


2012002616
6237


2012003503
6240


2012004001
6254


2021000501
6270


2021000503
6272


2021000506
6275


2021000507
6276


2021000510
6279


2021001410
6291


2021200303
6320


2021200311
6328


2021200312
6329


2022000405
6370


2031001305
6446


2031001312
6453


2032000609
6478


2032000902
6487


2032000903
6488


2032000909
6494


2032001211
6512


2032001904
6537


2032001910
6543


2032001914
6547


2032001916
6549


2032002602
6567


2032002603
6568


2032002604
6569


2032002606
6571


2032002608
6573


2041000401
6582


2041000404
6585


2041000407
6588


2041000411
6592


2041001301
6594


2042000312
6617


2042001805
6658


2042001808
6661


2042001810
6663


2042001814
6667


2042001815
6668


2042002112
6681


2042002303
6688


2042002304
6689


2042002305
6690


2042002306
6691


2042002307
6692


2042002312
6697


2042002314
6699


2042002915
6716


2042003501
6718


2042003507
6724


2051001208
6751


2052003516
6819


2061000501
6820


2061000509
6828


2061001008
6839


2062000202
6857


2062000210
6864


2062000211
6865


2062001102
6888


2062001105
6891


2062004005
6971


2071000406
7000


2071001505
7023


2071001507
7025


2072001304
7066


2072001309
7071


2072001310
7072


2072001603
7081


2072001604
7082


2072001608
7086


2072001611
7089


2072001616
7094


2072001711
7105


2072001712
7106


2072001713
7107


2072001714
7108


2072001715
7109


2072001716
7110


2072002115
7125


2072002604
7130


2072002612
7138


2081000410
7168


2082000305
7222


2082000307
7224


2082000308
7225


2082002616
7311


2082002903
7314


2082004006
7349


2091000301
7408


2091000307
7414


2092000301
7432


2092000305
7436


2092000501
7448


2092000502
7449


2092000503
7450


2092000505
7452


2092000507
7454


2092000508
7455


2092000509
7456


2092000510
7457


2092000511
7458


2092000514
7461


2092000515
7462


2092001316
7495


2092001801
7496


2092001802
7497


2092001803
7498


2092001804
7499


2092001805
7500


2092001807
7502


2092001808
7503


2092001811
7506


2092001812
7507


2092001815
7510


2092002207
7534


2092002603
7546


2092002605
7548


2092002607
7550


2092002609
7552


2092002612
7555


2092002613
7556


2092003910
7585


2092004913
7620


2101100411
7682


2101200710
7741


2101300105
7784


2101300107
7786


2101300110
7789


2101300503
7806


2102000704
7847


2102000708
7851


2102001305
7864


2102001308
7867


2102001310
7869


2102001311
7870


2102001312
7871


2102003703
7910


2102003705
7912


2102003714
7921


2112001003
8026


2112001010
8033


2112002315
8070


2112003501
8088


2112003516
8103


2121000504
8123


2122001203
8162


2122002702
8193


2122002709
8200


2122004601
8256


2122004602
8257


2122004606
8261


2132001908
8375


2132002307
8390


2132004013
8428


2132004712
8443


2141001202
8473


2141001601
8484


2141001603
8486


2141001605
8488


2142000506
8513


2142005009
8628


2152000903
8706


2152001505
8724


2152002410
8761


2161100712
8823


2161102907
8878


2161104103
8922


2161105902
8957


2161105903
8958


2161105909
8964


2161109109
9000


2161200407
9034


2161205101
9159


2161206608
9214


2161207010
9228


2161207011
9229


2161207412
9242


2161208209
9263


2161210308
9322


2161212512
9374


2161213811
9397


2161214402
9400


2161216211
9433


2161302301
9471


2161302302
9472


2161302303
9473


2161302311
9481


2161302312
9482


2161302707
9489


2161302708
9490


2161302710
9492


2161304004
9510


2161304009
9515


2162000402
9532


2162000914
9560


3011000705
9611


3011000710
9616


3011001103
9621


3011001108
9626


3011001109
9627


3011001110
9628


3012000309
9639


3012000710
9656


3012001202
9664


3012001208
9670


3012001215
9677


3021000201
9695


3021000412
9717


3022000201
9718


3022000214
9731


3022000901
9732


3022000904
9735


3022000905
9736


3022000906
9737


3022000908
9739


3022000911
9742


3022000912
9743


3022000913
9744


3022000914
9745


3022000916
9747


3022001707
9754


3022002403
9765


3022002404
9766


3022002406
9768


3022002408
9770


3022002409
9771


3022002410
9772


3022002411
9773


3022002412
9774


3022002415
9777


3022002416
9778


3031000406
9796


3032000202
9816


3032000204
9818


3032000205
9819


3032000206
9820


3032000208
9822


3032000209
9823


3032000211
9825


3032000212
9826


3032000213
9827


3032000214
9828


3032002601
9863


3032002602
9864


3032002606
9868


3032002610
9872


3032002611
9873


3032002615
9877


3042000216
9917


3052000612
9945


3052001401
9950


3052001405
9954


3052001406
9955


3052001409
9958


3052001413
9962


3052001414
9963


3061000106
10002


3061000109
10005


3061000111
10007


3061000112
10008


3062000203
10023


3062000213
10033


3062001005
10041


3062001402
10054


3072003005
10136


3081100211
10158


3081100607
10178


3081101210
10217


3081202203
10270


3081202802
10293


3081300504
10339


3081301104
10362


3081301407
10376


3082001111
10440


3082001302
10447


3082001308
10453


3082001310
10455


3082001803
10464


3082001804
10465


3082001806
10467


3082001807
10468


3082001808
10469


3082001809
10470


3082001812
10473


3082001814
10475


3082001815
10476


3082001816
10477


3091001106
10539


3091001112
10545


3092001304
10613


3092001311
10620


3092001907
10648


3092002215
10672


3101000309
10682


3102001905
10769


3111000210
10806


3111001105
10837


3121000206
10923


3141000208
11136


3141000604
11156


3141000801
11165


3141000802
11166


3141000803
11167


3141000807
11171


3141001109
11185


3141001111
11187


3142000105
11193


3142000114
11202


3142000207
11211


3142000601
11221


3142000604
11224


3142001602
11270


3142001605
11273


3142001609
11277


3142001611
11279


3142001612
11280


3142001911
11295


3142001914
11298


3142002201
11301


3142002202
11302


3142002206
11306


3142002207
11307


3142002209
11309


3142002210
11310


3142002211
11311


3142002213
11313


3142002214
11314


3142002216
11316


3151000301
11329


3151000307
11335


3151000310
11338


3151000312
11340


3152000308
11360


3161000203
11419


3162000714
11486


3162000805
11493


3172000905
11649


3172001609
11669


3172002116
11692


3182000212
11704


3182000215
11707


3182001606
11730


3182001609
11733


3192000213
11769


3192001404
11791


3192001413
11800


3201001312
11879


3202002108
11935


3211000607
11972


3211000611
11976


3212000209
11998


3212000214
12003


3212000906
12041


3212000913
12048


3212001404
12055


3212001405
12056


3212001409
12060


3212001601
12068


3212002112
12111


3221000602
12139


3231000209
12233


3231001006
12266


3231001301
12273


3231001306
12278


3231001503
12287


3232000106
12302


3232001613
12373


3232001614
12374


3232002407
12399


3232002413
12405


3232002609
12417


3241001305
12489


3242000203
12499


3242001513
12541


3242001515
12543


4011100306
12564


4011202101
12676


4011202103
12678


4011202112
12687


4012000301
12723


4012000310
12732


4021000210
12794


4021000501
12797


4022000501
12808


4022000502
12809


4022000504
12811


4022000505
12812


4022000506
12813


4022000507
12814


4022000508
12815


4022000509
12816


4022000510
12817


4022000511
12818


4022000512
12819


4022000514
12821


4022000515
12822


4022000516
12823


4022001507
12846


4022001509
12848


4022001805
12859


4022001814
12868


4031000606
12888


4032001001
12911


4032001002
12912


4032001003
12913


4032001007
12917


4032001010
12920


4032001011
12921


4032001013
12923


4032001015
12925


4032001304
12930


4042000303
12983


4042000305
12985


4042000310
12990


4051000412
13068


4051000706
13073


4051000710
13077


4051001003
13082


4051001009
13088


4051001211
13102


4052001001
13120


4052001005
13124


4052001007
13126


4052001008
13127


4052001009
13128


4052001010
13129


4052001011
13130


4052001013
13132


4052001015
13134


4052001016
13135


4052001304
13139


4052001310
13145


4061000203
13154


4082001616
13235


4102000214
13349


4111000602
13413


4112000313
13448


4112000615
13466


4112001304
13471


4112001316
13483


4122000510
13509


4132000508
13549


4132000513
13554


4132001303
13560


4132001305
13562


4132001307
13564


4132001313
13570


4141000207
13580


4142000712
13644


4142001307
13655


4151000708
13715


4151000709
13716


4151000711
13718


4151000712
13719


4152000312
13731


4152000507
13742


4152000509
13744


4152000511
13746


4152000702
13753


4152000712
13763


4152000714
13765


4152001001
13768


4152001007
13774


4152001009
13776


4152001012
13779


4152001014
13781


4152001016
13783


4152001402
13785


4152001403
13786


4152001411
13794


4152001802
13801


4152001804
13803


4152001805
13804


4152001811
13810


4152001813
13812


4152002001
13816


4152002003
13818


4152002016
13831


4152002205
13836


4152002208
13839


4152002210
13841


4152002212
13843


4152002214
13845


4161000301
13848


4161000302
13849


4161000303
13850


4161000305
13852


4161000311
13857


4161000901
13859


4161000903
13861


4161000905
13863


4161000906
13864


4161000908
13866


4161000912
13870


4161001102
13872


4161001109
13879


4161001110
13880


4161001112
13882


4162000201
13883


4162000203
13885


4162000204
13886


4162000208
13890


4162000213
13895


4162000216
13898


4162000606
13904


4162000610
13908


4162000615
13913


4162000802
13916


4162000806
13920


4162000807
13921


4162000811
13925


4162000812
13926


4162001202
13932


4162001203
13933


4162001205
13935


4162001208
13938


4162001211
13941


4162001214
13944


4171000202
13948


4171000204
13950


4171000208
13954


4171000211
13957


4171000404
13962


4171000405
13963


4171000406
13964


4171000408
13966


4171000409
13967


4171000410
13968


4171000412
13970


4172000301
13971


4172000304
13974


4172000305
13975


4172000306
13976


4172000309
13979


4172000314
13984


4172000315
13985


4172000801
13987


4172000802
13988


4172000803
13989


4172000804
13990


4172000806
13992


4172000807
13993


4172000809
13995


4172000810
13996


4172000811
13997


4172000812
13998


4172000813
13999


4172001401
14003


4172001404
14006


4172001406
14008


4172001407
14009


4172001410
14012


4172001412
14014


4172001413
14015


4172001414
14016


4172001416
14018


4172001702
14020


4172001703
14021


4172001705
14023


4172001706
14024


4172001708
14026


4172001710
14028


4172001712
14030


4172001713
14031


4172001715
14033


4172001716
14034


4181000202
14036


4181000205
14039


4181000207
14041


4181000210
14044


4181000501
14047


4181000502
14048


4181000504
14050


4181000505
14051


4181000506
14052


4181000507
14053


4181000508
14054


4181000509
14055


4181000510
14056


4181000511
14057


4181000512
14058


4181000805
14063


4181000808
14066


4181000812
14070


4182000204
14074


4182000205
14075


4182000211
14081


4182000213
14083


4182000215
14085


4182000602
14088


4182000605
14091


4182000608
14094


4182000609
14095


4182000611
14097


4182000614
14100


4182001204
14106


4182001209
14111


4182001210
14112


4182001211
14113


4182001215
14117


4182002001
14119


4182002004
14122


4182002005
14123


4182002008
14126


4182002009
14127


4182002011
14129


4182002013
14131


4182002016
14134


4191000301
14135


4191000303
14137


4191000305
14139


4191000307
14141


4191000308
14142


4191000312
14146


4191000501
14147


4191000503
14149


4191000504
14150


4191000505
14151


4191000507
14153


4191000509
14155


4191000510
14156


4191000511
14157


4192000301
14159


4192000304
14162


4192000308
14166


4192000309
14167


4192000311
14169


4192000313
14171


4192000314
14172


4192000315
14173


4192000801
14175


4192000803
14177


4192000805
14179


4192000808
14182


4192000809
14183


4192000811
14185


4192000814
14188


4192000816
14190


4192001301
14191


4192001303
14193


4192001306
14196


4192001308
14198


4192001310
14200


4192001312
14202


4192001313
14203


4192001314
14204


4192001315
14205


4201000107
14213


4201000108
14214


4201000111
14217


4202000803
14221


4202000806
14224


4202000807
14225


4202000814
14232


4202000815
14233


4202000816
14234


4202001601
14235


4202001604
14238


4202001605
14239


4202001606
14240


4202001608
14242


4202001610
14244


4202001611
14245


4202001616
14250



IndexError: index out of bounds

## Income Growth

**Helper Functions**

## Miscellaneous

**Helper Functions**

In [ ]:
income_data = [int(x) for x in heisSection9A_IncomeNoCapital["total_income_x"] if not pd.isnull(x)]
weights = [int(x) for x in heisSection9A_IncomeNoCapital["weights"]]
weighted_income_data = []
for i in range(0, len(income_data)):
    income = [income_data[i]]
    w = weights[i]
    weighted_income_data.extend(income * w)

s_data = np.array(sorted(weighted_income_data))
n = len(s_data)
percentiles = 100 * (np.arange(1, n+1) - 0.5) / n

In [ ]:
heisSectionPList_Weights = pd.read_stata('./heisSurvey/2015-16/plist.dta')
heisSectionPList_Weights["hhcode"] = heisSectionPList_Weights["hhcode"].astype('int64')
heisSectionPList_Weights = heisSectionPList_Weights[["hhcode", "weights"]].drop_duplicates()

In [ ]:
heisSection9E_IncomeWithCapital = pd.read_excel("./heisSurvey/HEISBalanceSheet.xls")
heisSection9E_IncomeWithCapital = heisSection9E_IncomeWithCapital.rename(index=str, columns={
                                "bs5ec01": "total_income_xy", 
                                "bs5ec02": "total_expenditure_ze", 
                                "bs5ec03": "ratio", 
                                "bs5ec04": "greater_than_0.85"})
heisSection9E_IncomeWithCapital = heisSection9E_IncomeWithCapital.join(heisSectionPList_Weights.set_index('hhcode'), on='hhcode')
heisSection9E_IncomeWithCapital[0:5]

In [ ]:
heisSection9A_IncomeNoCapital = pd.read_excel("./heisSurvey/HEISBalanceSheet_NoCapital.xls")
heisSection9A_IncomeNoCapital = heisSection9A_IncomeNoCapital.rename(index=str, columns={
                                "bs3c01": "total_income_x", 
                                "bs3c02": "total_expenditure_z", 
                                "bs3c03": "ratio", 
                                "bs3c04": "greater_than_0.85"})
heisSection9A_IncomeNoCapital = heisSection9A_IncomeNoCapital.join(heisSectionPList_Weights.set_index('hhcode'), on='hhcode')
heisSection9A_IncomeNoCapital[0:5]

In [ ]:
heisSection1B_IncomeNoCapital = pd.read_excel("./heisSurvey/HEIS_JustIncome.xlsx")
heisSection1B_IncomeNoCapital = heisSection1B_IncomeNoCapital.rename(index=str, columns={
                                "s1bq01": "did_work", 
                                "s1bq02": "days_worked", 
                                "s1bq03": "did_have_job", 
                                "s1bq04": "nature_of_occupation",
                                "s1bq05": "nature_of_enterprise",
                                "s1bq06": "employment_status",
                                "s1bq07": "monthly_or_annual",
                                "s1bq08": "monthly_earnings",
                                "s1bq09": "months_worked",
                                "s1bq10": "annual_earnings",
                                "s1bq11": "other_work",
                                "s1bq12": "nature_of_occupation_other",
                                "s1bq13": "nature_of_employer",
                                "s1bq14": "employment_status",
                                "s1bq15": "annual_earnings_other",
                                "s1bq16": "other_other_work",
                                "s1bq17": "annual_earnings_other_other",
                                "s1bq18": "sell_wages",
                                "s1bq19": "money_received_by_selling_wages",
                                "s1bq20": "was_pension_received",
                                "s1bq21": "pension_amount",
                                "s1bq22": "used_for_hh",
                                "s1bq23": "operation_in_agriculture",
                                "s1bq24": "did_own_livestock",
                                "s1bq25": "proprietor_or_partner_of_business",
                                "s1bq26": "how_many_shops_associated"})
heisSection1B_IncomeNoCapital = heisSection1B_IncomeNoCapital.join(heisSectionPList_Weights.set_index('hhcode'), on='hhcode')
heisSection1B_IncomeNoCapital[0:5]

### Miscellaneous Datasets

lowest_20_income
population
pak_world_bank_indicators # change to more granular sets that can inform analysis

In [ ]:
pak_world_bank_indicators = pd.read_excel("./miscData/world_bank_bottom20_income_share_and_population.xlsx")

In [ ]:
lowest_20_income = pak_world_bank_indicators[pak_world_bank_indicators["Series Code"] == "SI.DST.FRST.20"]
lowest_20_income

In [ ]:
population = pak_world_bank_indicators[pak_world_bank_indicators["Series Code"] == "SP.POP.TOTL"]
population

In [ ]:
heisSection1B_IncomeNoCapital.shape

**Getting a feel for the data**

In [ ]:
# heisSection1B_IncomeNoCapital[pd.notnull(heisSection1B_IncomeNoCapital["money_received_by_selling_wages"])]
heisSection1B_IncomeNoCapital[heisSection1B_IncomeNoCapital["hhcode"] == 1131010201]

In [ ]:
heisSection9A_IncomeNoCapital.shape

In [ ]:
heisSection9A_IncomeNoCapital[heisSection9A_IncomeNoCapital["hhcode"] == 1131010201]

In [ ]:
heisSection9A_IncomeNoCapital

In [ ]:
heisSection9E_IncomeWithCapital.shape

In [ ]:
heisSection9E_IncomeWithCapital[0:10]

**Making sense of the difference in number of entries** (also looking at household survey linked here: http://www.pbs.gov.pk/sites/default/files//pslm/publications/pslm_microdata_2015_16_HIES/HIICS%20Male%20Questionnaire%20%282015-16%29.pdf)

Here is the introduction that came with the survey and explains some of the terms / sampling methods: http://www.pbs.gov.pk/sites/default/files//pslm/publications/pslm_microdata_2015_16_HIES/Introduction.pdf

In [ ]:
# Let's see different entries on the same table
hhcode = 2513311004

# 1 1102020203
# 2 1302032607
# 3 1423211302
# 4 1423212903
# 5 1423215304
# 6 2513311004
# 7 2602010208
# 8 2723241109
# 9 2831010206
# 10 3111030111
# 11 3302011512
# 12 3421040201
# 13 3513211601
# 14 3523220412
# 15 3543221707
# 16 3553221313
# 17 4401020701

In [ ]:
heisSection1B_IncomeNoCapital[heisSection1B_IncomeNoCapital["hhcode"] == hhcode]
# heisSection1B_IncomeNoCapital.psu

In [ ]:
heisSection9A_IncomeNoCapital[heisSection9A_IncomeNoCapital["hhcode"] == hhcode]

In [ ]:
heisSection9E_IncomeWithCapital[heisSection9E_IncomeWithCapital["hhcode"] == hhcode]

In [ ]:
# Test assumption: how many unique households does the first dataset have?
len(set(heisSection1B_IncomeNoCapital["hhcode"]))
# YES!

In [ ]:
households_with_toolow_income = list(heisSection9A_IncomeNoCapital[heisSection9A_IncomeNoCapital["greater_than_0.85"] == "no"]["hhcode"])
households_with_capital_income = list(heisSection9E_IncomeWithCapital["hhcode"])

In [ ]:
print(len(households_with_toolow_income))
print(len(households_with_capital_income))

Households to explore in the last two datasets. It looks like everything that was *heisSection9A_IncomeNoCapital* and didn't have a greater_than_0.85 was re-evaluated in the  *heisSection9E_IncomeWithCapital* section. Let's see if there are any 'no's in the first that weren't evaluated and any households in the second that were evaluated regardless.

In [ ]:
i = 1
for h in households_with_toolow_income:
    if h not in households_with_capital_income:
        print(i, h)
        i += 1
print("\n")
j = 1
for h in households_with_capital_income:
    if h not in households_with_toolow_income:
        print(j, h)
        j += 1

Using the above evaluator for each household to see the values - it looks like 2721040211 has improper data entry for section 9E (therefore I am removing it). The others were simply not followed up on, but the sample size is also so insiginificant that I'm keeping them in here.

**Dataset Descriptions**

In [ ]:
heisSection1B_IncomeNoCapital.shape 
# Income by Individual (for every household, most granular)

In [ ]:
heisSection9A_IncomeNoCapital.shape 
# Income By Household

In [ ]:
heisSection9E_IncomeWithCapital.shape 
# Households above with suspect income / expenditure ratios (adds in capital component for some households).

# When combining the datasets, let's double check to see that these households are mainly in the 
# top 20% of income once adding in their capital earnings. Let's also see where they lie before adding in 
# capital / this dataset's values. TODO need to ask if this is typical and how exactly to interpret this data
# as some respondants seem to be able refuse to do this part (like 2513311004 who seems to be a top 20% earner)

One thing to be cognizant about is that section 1B is filled out by male and female, but section 9 is filled by males only. There are incentives both ways that I need to take into account - it means that there could either be a bias upward to make the family stand out as richer (without the other members of the family in the room to make the person feel accountable) or poorer.

TODO ask professors about potential misaligned incentives due to survey design
TODO pensions are government transfers, "Government  benefits,  reported  in  the  survey,  are excluded from the analysis for consistency with tax tabulations;our focus is pre-tax income."

### Cleaning, Combining and Ordering Datasets

In [ ]:
income_data = [int(x) for x in heisSection9A_IncomeNoCapital["total_income_x"] if not pd.isnull(x)]
weights = [int(x) for x in heisSection9A_IncomeNoCapital["weights"]]
weighted_income_data = []
for i in range(0, len(income_data)):
    income = [income_data[i]]
    w = weights[i]
    weighted_income_data.extend(income * w)

s_data = np.array(sorted(weighted_income_data))
n = len(s_data)
percentiles = 100 * (np.arange(1, n+1) - 0.5) / n

In [ ]:
sum(s_data) / 26581120581632

In [ ]:
[int(x) for x in heisSection9E_IncomeWithCapital["total_income_xy"] if not pd.isnull(x)]

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%store -r export_data
%store -r t_percentiles

In [ ]:
# let's compare the data above the 77.5th percentile
other_s_data = s_data[n-5800000:]
n = len(other_s_data)
other_percentiles = 100 * (np.arange(1, n+1) - 0.5) / n

In [ ]:
# Plots of just the data above 400,000 PRK earnings or the top 23% of earners in Pakistan -- EVEN THE TAXPAYER DATA IS BETTER
plt.scatter(other_percentiles[:-10000], other_s_data[:-10000], c='b')
plt.scatter(t_percentiles[:-10000], export_data[:-10000], c='r')
plt.show()

In [ ]:
# Plots of just the data of the top 1% of 20% -- EVEN THE TAXPAYER DATA IS BETTER
plt.scatter(other_percentiles[-10000:], other_s_data[-10000:], c='b')
plt.scatter(t_percentiles[-10000:], export_data[-10000:], c='r')
plt.show()

In [ ]:
plt.scatter(percentiles, s_data)
plt.show()

In [ ]:
s_data[n-5800000]
percentiles[n-5800000]

In [ ]:
plt.scatter(percentiles[n - 5800000:n-10000], s_data[n - 5800000:n-10000])
plt.show()

In [ ]:
# how to combine tax data in individual level... what if we graph it and see the difference...

In [ ]:
s_data = np.array(sorted([int(x) for x in heisSection9E_IncomeWithCapital["total_expenditure_ze"] if not pd.isnull(x)]))
n = len(s_data)
percentiles = 100 * (np.arange(1, n+1) - 0.5) / n

In [ ]:
s_data = np.array(sorted([float(x) for x in heisSection9A_IncomeNoCapital["ratio"] if not pd.isnull(x)]))
n = len(s_data)
percentiles = 100 * (np.arange(1, n+1) - 0.5) / n

In [ ]:
# income / expenditure
plt.scatter(percentiles[n - 7000:n - 2000], s_data[n - 7000:n - 2000])
plt.show()

In [ ]:
# taxes start at 1,200,000, used to start at 400,000 at time of survey
s_data = np.array(sorted([int(x) for x in heisSection9A_IncomeNoCapital["total_income_x"] if not pd.isnull(x)]))
n = len(s_data)
percentiles = 100 * (np.arange(1, n+1) - 0.5) / n
obs_num = 17620
print(s_data[obs_num])
print(percentiles[obs_num])

**Expanding the Survey By Multiplying by Weights**

In [ ]:
# let's combine section 9A and 9E in the surveys

In [ ]:
heisSection9E_IncomeWithCapital

# Exploratory Data Analysis (Visualization)