In [588]:
import numpy as np
import pandas as pd
import pickle
import plotly.plotly as py
import plotly.graph_objs as go
import matplotlib.pyplot as plt
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly
import plotly.graph_objs as go

In [589]:
init_notebook_mode(connected=True)
pd.options.display.max_columns = None

# Load Data

In [590]:
with open('./finalData/finalCombinedMicrodata/final_incomes_2015_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2015_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2015_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2015_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2014_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2014_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2014_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2014_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2013_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2013_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2013_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2013_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2012_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2012_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2012_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2012_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2011_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2011_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2011_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2011_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2010_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2010_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2010_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2010_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2008_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2008_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2008_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2008_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2007_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2007_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2007_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2007_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2006_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2006_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2006_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2006_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2005_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2005_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2005_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2005_ASSUMP_nonsalaried = pickle.load(f)

with open('./finalData/finalCombinedMicrodata/final_incomes_2004_ASSUMP_salaried.pkl', 'rb') as f: final_incomes_2004_ASSUMP_salaried = pickle.load(f)
with open('./finalData/finalCombinedMicrodata/final_incomes_2004_ASSUMP_nonsalaried.pkl', 'rb') as f: final_incomes_2004_ASSUMP_nonsalaried = pickle.load(f)

In [591]:
with open('./finalData/individual_balance_sheet_2015_16.pkl', 'rb') as f: individual_balance_sheet_2015_16 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2014_15.pkl', 'rb') as f: individual_balance_sheet_2014_15 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2013_14.pkl', 'rb') as f: individual_balance_sheet_2013_14 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2012_13.pkl', 'rb') as f: individual_balance_sheet_2012_13 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2011_12.pkl', 'rb') as f: individual_balance_sheet_2011_12 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2010_11.pkl', 'rb') as f: individual_balance_sheet_2010_11 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2008_09.pkl', 'rb') as f: individual_balance_sheet_2008_09 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2007_08.pkl', 'rb') as f: individual_balance_sheet_2007_08 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2006_07.pkl', 'rb') as f: individual_balance_sheet_2006_07 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2005_06.pkl', 'rb') as f: individual_balance_sheet_2005_06 = pickle.load(f)
with open('./finalData/individual_balance_sheet_2004_05.pkl', 'rb') as f: individual_balance_sheet_2004_05 = pickle.load(f)

# Visualization and Conclusions

**Helper Functions**

In [592]:
def get_final_table(start_year, assumptions):  
    """
    Sorted by income.
    
    Args:
        str (table_type): accepts only 'hh' for household or 'individual' for individual.
        int (start_year): currently limited to 2004 - 2015.

    Returns:
        pd.DataFrame: dataframe corresponding to table.
    """
    t = eval("final_incomes_" + str(start_year) + "_ASSUMP_" + str(assumptions))
    t = t.sort_values(by=['income']).reset_index().drop(["index"], axis=1)
    return t
    
def weighted_sum(data, weights):
    """
    Args:
        pd.Series (data)
        pd.Series (weights)

    Returns:
        float: weighted sum.
    """
    data = np.array(data)
    weights = np.array(weights)
    return np.sum(data * weights)

def top_percentiles(p, sorted_data, sorted_weights):
    """
    Args:
        int (p): 0 < p < 1.
        pd.Series (data)
        pd.Series (weights)

    Returns:
        (list, list): corresponding data, and weights.
    """
    sorted_data = np.array(sorted_data)
    sorted_weights = np.array(sorted_weights)
    q = (1 - p) * np.sum(sorted_weights)
    index = sorted_weights.size
    cum_sum = np.sum(sorted_weights)
    while cum_sum > q:
        index -= 1
        cum_sum -= sorted_weights[index]
    return (sorted_data[index:], sorted_weights[index:], index)

def bottom_percentiles(p, sorted_data, sorted_weights):
    """
    Args:
        int (p): 0 <= p <=1.
        pd.Series (data)
        pd.Series (weights)

    Returns:
        (list, list): corresponding data, and weights.
    """
    sorted_data = np.array(sorted_data)
    sorted_weights = np.array(sorted_weights)
    q = p * np.sum(sorted_weights)
    index = -1
    cum_sum = 0
    while cum_sum < q:
        index += 1
        cum_sum += sorted_weights[index]
    return (sorted_data[:index], sorted_weights[:index], index)

## National Income Shares

**Helper Functions**

In [633]:
def calculate_income_share(assumptions, year, p, top=True, t_func_diff=False, t_func=get_final_table):
    """
    Args:
        str (table_type): accepts only 'hh' for household or 'individual' for individual.
        int (year): currently limited to 2004 - 2015.
        float (percentile)
        bool (top): getting top [percentile]% or bottom [percentile]%? defaults to top.
        
    Returns:
        float: income share.
    """
    if year == 2009:
        print("No data for 2009-2010")
        return
    if t_func_diff:
        t = t_func("individual", year)
    else:
        t = t_func(year, assumptions)
    if top:
        p_data, p_weights, i = top_percentiles(p, t["income"], t["weights"])
    else:
        p_data, p_weights, i = bottom_percentiles(p, t["income"], t["weights"])
    partial_sum = weighted_sum(p_data, p_weights)
    total_sum = weighted_sum(t["income"], t["weights"])
    return round(partial_sum / (total_sum), 3)

### Top 1% Income Share

In [634]:
# top 1 percent
years = np.arange(2004, 2016, 1)
index = np.argwhere(years==2009)
years = np.delete(years, index)

top_1_income_shares_salaried = []
for y in years:
    top_1_income_shares_salaried.append(calculate_income_share("salaried", y, 0.01))
    

top_1_income_shares_nonsalaried = []
for y in years:
    top_1_income_shares_nonsalaried.append(calculate_income_share("nonsalaried", y, 0.01))

In [635]:
top_1_trace_salaried = go.Scatter(
    x = years,
    y = top_1_income_shares_salaried,
    name = 'Top 1% [Salaried]'
)

top_1_trace_nonsalaried = go.Scatter(
    x = years,
    y = top_1_income_shares_nonsalaried,
    name = 'Top 1% [Non-Salaried]'
)

layout = dict(title = 'Top 1% National Income Share in Pakistan',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'National Income Share'),
              )
data = [top_1_trace_salaried, top_1_trace_nonsalaried]
top1_share = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
top1_share

### Top 0.1% Income Share

In [636]:
# top 0.1 percent
years = np.arange(2004, 2016, 1)
index = np.argwhere(years==2009)
years = np.delete(years, index)

top_01_income_shares_salaried = []
for y in years:
    top_01_income_shares_salaried.append(calculate_income_share("salaried", y, 0.001))
    
top_01_income_shares_nonsalaried = []
for y in years:
    top_01_income_shares_nonsalaried.append(calculate_income_share("nonsalaried", y, 0.001))

In [637]:
top_01_trace_salaried = go.Scatter(
    x = years,
    y = top_01_income_shares_salaried,
    name = "Top 0.1% [Salaried]"
)

top_01_trace_nonsalaried = go.Scatter(
    x = years,
    y = top_01_income_shares_nonsalaried,
    name = "Top 0.1% [Non-Salaried]"
)

layout = dict(title = 'Top 0.1% National Income Share in Pakistan',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'National Income Share'),
              )
data = [top_01_trace_salaried, top_01_trace_nonsalaried]
top01_share = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
top01_share

### Top 0.01% Income Share

In [638]:
# top 0.01 percent
years = np.arange(2004, 2016, 1)
index = np.argwhere(years==2009)
years = np.delete(years, index)

top_001_income_shares_salaried = []
for y in years:
    top_001_income_shares_salaried.append(calculate_income_share("salaried", y, 0.0001))
    
top_001_income_shares_nonsalaried = []
for y in years:
    top_001_income_shares_nonsalaried.append(calculate_income_share("nonsalaried", y, 0.0001))

In [639]:
top_001_trace_salaried = go.Scatter(
    x = years,
    y = top_001_income_shares_salaried,
    name = "Top 0.01% [Salaried]"
)

top_001_trace_nonsalaried = go.Scatter(
    x = years,
    y = top_001_income_shares_nonsalaried,
    name = "Top 0.01% [Non-Salaried]"
)

layout = dict(title = 'Top 0.01% National Income Share in Pakistan',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'National Income Share'),
              )
data = [top_001_trace_salaried, top_001_trace_nonsalaried]
top001_share = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
top001_share

### Top 1% and Top 0.1% and Top 0.01% Income Shares

In [640]:
layout = dict(title = 'Top 1%, Top 0.1% and Top 0.01% National Income Shares in Pakistan',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'National Income Share'),
              )
data = [top_1_trace_salaried, top_1_trace_nonsalaried, top_01_trace_salaried, top_01_trace_nonsalaried, top_001_trace_salaried, top_001_trace_nonsalaried]
top1_01_001_share = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
top1_01_001_share

### Top 1% and Bottom 50% Income Shares

In [641]:
# bottom 50 percent
years = np.arange(2004, 2016, 1)
index = np.argwhere(years==2009)
years = np.delete(years, index)

bottom_50_income_shares_salaried = []
for y in years:
    bottom_50_income_shares_salaried.append(calculate_income_share("salaried", y, 0.5, top=False))

bottom_50_income_shares_nonsalaried = []
for y in years:
    bottom_50_income_shares_nonsalaried.append(calculate_income_share("nonsalaried", y, 0.5, top=False))

In [642]:
bottom_50_trace_salaried = go.Scatter(
    x = years,
    y = bottom_50_income_shares_salaried,
    name = 'Bottom 50% [Salaried]'
)

bottom_50_trace_nonsalaried = go.Scatter(
    x = years,
    y = bottom_50_income_shares_nonsalaried,
    name = 'Bottom 50% [Non-Salaried]'
)

layout = dict(title = 'Top 1% and Bottom 50% National Income Shares in Pakistan',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'National Income Share'),
              )
data = [top_1_trace_salaried, top_1_trace_nonsalaried, bottom_50_trace_salaried, bottom_50_trace_nonsalaried]
top1_bottom50_share = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
top1_bottom50_share

### Top 10% and Middle 40% Income Shares

In [643]:
# top 10 percent
years = np.arange(2004, 2016, 1)
index = np.argwhere(years==2009)
years = np.delete(years, index)

top_10_income_shares_salaried = []
for y in years:
    top_10_income_shares_salaried.append(calculate_income_share("salaried", y, 0.1))
    
top_10_income_shares_nonsalaried = []
for y in years:
    top_10_income_shares_nonsalaried.append(calculate_income_share("nonsalaried", y, 0.1))

In [644]:
# middle 40 percent
years = np.arange(2004, 2016, 1)
index = np.argwhere(years==2009)
years = np.delete(years, index)

middle_40_income_shares_salaried = []
for y in years:
    top10 = calculate_income_share("salaried", y, 0.1)
    bottom50 = calculate_income_share("salaried", y, 0.5, top=False)
    middle_40_income_shares_salaried.append(1 - (top10 + bottom50))
    
middle_40_income_shares_nonsalaried = []
for y in years:
    top10 = calculate_income_share("nonsalaried", y, 0.1)
    bottom50 = calculate_income_share("nonsalaried", y, 0.5, top=False)
    middle_40_income_shares_nonsalaried.append(1 - (top10 + bottom50))

In [645]:
top_10_trace_salaried = go.Scatter(
    x = years,
    y = top_10_income_shares_salaried,
    name = "Top 10% [Salaried]"
)

top_10_trace_nonsalaried = go.Scatter(
    x = years,
    y = top_10_income_shares_nonsalaried,
    name = "Top 10% [Non-Salaried]"
)

middle_40_trace_salaried = go.Scatter(
    x = years,
    y = middle_40_income_shares_salaried,
    name = "Middle 40% [Salaried]"
)

middle_40_trace_nonsalaried = go.Scatter(
    x = years,
    y = middle_40_income_shares_nonsalaried,
    name = "Middle 40% [Non-Salaried]"
)

layout = dict(title = 'Top 10% and Middle 40% National Income Shares in Pakistan',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'National Income Share'),
              )
data = [top_10_trace_salaried, top_10_trace_nonsalaried, middle_40_trace_salaried, middle_40_trace_nonsalaried]
top10_middle40_share = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
top10_middle40_share

## Miscellaneous

**Helper Functions**

In [646]:
def get_survey_table(table_type, start_year):  
    """
    Sorted by income.
    
    Args:
        str (table_type): accepts only 'hh' for household or 'individual' for individual.
        int (start_year): currently limited to 2004 - 2015.

    Returns:
        pd.DataFrame: dataframe corresponding to table.
    """
    t = eval(table_type + "_balance_sheet_" + str(start_year) + "_" + (str(start_year+1)[-2:]))
    t = t.sort_values(by=['income']).reset_index().drop(["index"], axis=1)
    return t

### National Income Shares in Pakistan, 2015 (Final Data)

We can see how our tax data corrects the survey data. The change is rather significant. We will show a few different splits.

In [647]:
def format_number(value):
    return "{:,}".format(value)

def format_percent(value):
    return str(round(value * 100, 1)) + "%"

In [648]:
lf = pd.read_excel("./miscData/labor_force_total.xls")

In [649]:
lf_tot = lf[lf["Country Code"] == "PAK"]["2015"].values[0]
incomes = np.array(get_final_table(2015, "salaried")["income"])
weights = np.array(get_final_table(2015, "salaried")["weights"])

In [650]:
t10_incomes, t10_weights, it10 = top_percentiles(0.1, get_final_table(2015, "salaried")["income"], get_final_table(2015, "salaried")["weights"])
b50_incomes, b50_weights, ib50 = bottom_percentiles(0.5, get_final_table(2015, "salaried")["income"], get_final_table(2015, "salaried")["weights"])
t1_incomes, t1_weights, _ = top_percentiles(0.01, get_final_table(2015, "salaried")["income"], get_final_table(2015, "salaried")["weights"])
t01_incomes, t01_weights, _ = top_percentiles(0.001, get_final_table(2015, "salaried")["income"], get_final_table(2015, "salaried")["weights"])
t001_incomes, t001_weights, _ = top_percentiles(0.0001, get_final_table(2015, "salaried")["income"], get_final_table(2015, "salaried")["weights"])

t_avg = weighted_sum(incomes, weights) / sum(weights)
b50_avg = weighted_sum(b50_incomes, b50_weights) / sum(b50_weights)
m40_avg = weighted_sum(incomes[ib50:it10], weights[ib50:it10]) / sum(weights[ib50:it10])
t10_avg = weighted_sum(t10_incomes, t10_weights) / sum(t10_weights)
t1_avg = weighted_sum(t1_incomes, t1_weights) / sum(t1_weights)
t01_avg = weighted_sum(t01_incomes, t01_weights) / sum(t01_weights)
t001_avg = weighted_sum(t001_incomes, t001_weights) / sum(t001_weights)

In [651]:
d = {
    'Labor Force': [format_number(x) for x in [lf_tot, int(lf_tot*0.5), int(lf_tot*0.4), int(lf_tot*0.1), int(lf_tot*0.01), int(lf_tot*0.001), int(lf_tot*0.0001)]], 
    'Average Annual Income (PKR)': [format_number(int(x)) for x in [t_avg, b50_avg, m40_avg, t10_avg, t1_avg, t01_avg, t001_avg]], 
    'Average Annual Income (USD)': ["$" + format_number(int(x * 0.0071)) for x in [t_avg, b50_avg, m40_avg, t10_avg, t1_avg, t01_avg, t001_avg]], 
    'Income Share': [format_percent(x) for x in [1, calculate_income_share("salaried", 2015, 0.5, top=False), 1 - (calculate_income_share("salaried", 2015, 0.1) + calculate_income_share("salaried", 2015, 0.5, top=False)),calculate_income_share("salaried", 2015, 0.1), calculate_income_share("salaried", 2015, 0.01), calculate_income_share("salaried", 2015, 0.001), calculate_income_share("salaried", 2015, 0.0001)]], 
    }

ntnl_income_table = pd.DataFrame(d, ["Full Population", "Bottom 50%", "Middle 40%", "Top 10%", "Top 1%", "Top 0.1%", "Top 0.01%"])
ntnl_income_table = ntnl_income_table[["Labor Force", "Average Annual Income (PKR)", "Average Annual Income (USD)", "Income Share"]]
ntnl_income_table

,Labor Force,Average Annual Income (PKR),Average Annual Income (USD),Income Share
Full Population,"65,422,753","279,601","$1,985",100%
Bottom 50%,"32,711,376","64,927",$460,11.6%
Middle 40%,"26,169,101","209,513","$1,487",30.0%
Top 10%,"6,542,275","1,633,230","$11,595",58.4%
Top 1%,"654,227","8,437,088","$59,903",30.2%
Top 0.1%,"65,422","37,474,289","$266,067",13.4%
Top 0.01%,"6,542","142,210,514","$1,009,694",5.1%

In [683]:
print(ntnl_income_table.to_latex())

\begin{tabular}{lllll}
\toprule
{} & Labor Force & Average Annual Income (PKR) & Average Annual Income (USD) & Income Share \\
\midrule
Full Population &  65,422,753 &                     279,601 &                      \$1,985 &         100\% \\
Bottom 50\%      &  32,711,376 &                      64,927 &                        \$460 &        11.6\% \\
Middle 40\%      &  26,169,101 &                     209,513 &                      \$1,487 &        30.0\% \\
Top 10\%         &   6,542,275 &                   1,633,230 &                     \$11,595 &        58.4\% \\
Top 1\%          &     654,227 &                   8,437,088 &                     \$59,903 &        30.2\% \\
Top 0.1\%        &      65,422 &                  37,474,289 &                    \$266,067 &        13.4\% \\
Top 0.01\%       &       6,542 &                 142,210,514 &                  \$1,009,694 &         5.1\% \\
\bottomrule
\end{tabular}

### National Income Shares in Pakistan, 2015 (Survey Data)

In [653]:
lf_tot = lf[lf["Country Code"] == "PAK"]["2015"].values[0]
incomes = np.array(get_survey_table("individual", 2015)["income"])
weights = np.array(get_survey_table("individual", 2015)["weights"])

In [654]:
t10_incomes, t10_weights, _ = top_percentiles(0.1, get_survey_table("individual", 2015)["income"], get_survey_table("individual", 2015)["weights"])
b50_incomes, b50_weights, _ = bottom_percentiles(0.5, get_survey_table("individual", 2015)["income"], get_survey_table("individual", 2015)["weights"])
t30_incomes, t30_weights, it30 = top_percentiles(0.3, get_survey_table("individual", 2015)["income"], get_survey_table("individual", 2015)["weights"])
b30_incomes, b30_weights, ib30 = bottom_percentiles(0.3, get_survey_table("individual", 2015)["income"], get_survey_table("individual", 2015)["weights"])
t1_incomes, t1_weights, _ = top_percentiles(0.01, get_survey_table("individual", 2015)["income"], get_survey_table("individual", 2015)["weights"])
t01_incomes, t01_weights, _ = top_percentiles(0.001, get_survey_table("individual", 2015)["income"], get_survey_table("individual", 2015)["weights"])
t001_incomes, t001_weights, _ = top_percentiles(0.0001, get_survey_table("individual", 2015)["income"], get_survey_table("individual", 2015)["weights"])

t_avg = weighted_sum(incomes, weights) / sum(weights)
b50_avg = weighted_sum(b50_incomes, b50_weights) / sum(b50_weights)
m40_avg = weighted_sum(incomes[ib30:it30], weights[ib30:it30]) / sum(weights[ib30:it30])
t10_avg = weighted_sum(t10_incomes, t10_weights) / sum(t10_weights)
t1_avg = weighted_sum(t1_incomes, t1_weights) / sum(t1_weights)
t01_avg = weighted_sum(t01_incomes, t01_weights) / sum(t01_weights)
t001_avg = weighted_sum(t001_incomes, t001_weights) / sum(t001_weights)

In [655]:
d = {
    'Labor Force': [format_number(x) for x in [lf_tot, int(lf_tot*0.5), int(lf_tot*0.4), int(lf_tot*0.1), int(lf_tot*0.01), int(lf_tot*0.001), int(lf_tot*0.0001)]], 
    'Average Annual Income (PKR)': [format_number(int(x)) for x in [t_avg, b50_avg, m40_avg, t10_avg, t1_avg, t01_avg, t001_avg]], 
    'Average Annual Income (USD)': ["$" + format_number(int(x * 0.0071)) for x in [t_avg, b50_avg, m40_avg, t10_avg, t1_avg, t01_avg, t001_avg]], 
    'Income Share': [format_percent(x) for x in [1, calculate_income_share("salaried", 2015, 0.5, top=False, t_func_diff=True, t_func=get_survey_table), 1 - (calculate_income_share("salaried", 2015, 0.3, t_func_diff=True, t_func=get_survey_table) + calculate_income_share("salaried", 2015, 0.3, top=False, t_func_diff=True, t_func=get_survey_table)),calculate_income_share("salaried", 2015, 0.1,t_func_diff=True, t_func=get_survey_table), calculate_income_share("salaried", 2015, 0.01, t_func_diff=True, t_func=get_survey_table), calculate_income_share("salaried", 2015, 0.001, t_func_diff=True, t_func=get_survey_table), calculate_income_share("salaried", 2015, 0.0001, t_func_diff=True, t_func=get_survey_table)]], 
    }

ntnl_income_table_S = pd.DataFrame(d, ["Full Population", "Bottom 50%", "Middle 40%", "Top 10%", "Top 1%", "Top 0.1%", "Top 0.01%"])
ntnl_income_table_S = ntnl_income_table_S[["Labor Force", "Average Annual Income (PKR)", "Average Annual Income (USD)", "Income Share"]]
ntnl_income_table_S

,Labor Force,Average Annual Income (PKR),Average Annual Income (USD),Income Share
Full Population,"65,422,753","182,103","$1,292",100%
Bottom 50%,"32,711,376","64,930",$461,17.8%
Middle 40%,"26,169,101","131,418",$933,28.8%
Top 10%,"6,542,275","658,201","$4,673",36.2%
Top 1%,"654,227","1,761,974","$12,510",9.7%
Top 0.1%,"65,422","4,054,818","$28,789",2.3%
Top 0.01%,"6,542","8,128,723","$57,713",0.5%

In [656]:
print(ntnl_income_table_S.to_latex())

\begin{tabular}{lllll}
\toprule
{} & Labor Force & Average Annual Income (PKR) & Average Annual Income (USD) & Income Share \\
\midrule
Full Population &  65,422,753 &                     182,103 &                      \$1,292 &         100\% \\
Bottom 50\%      &  32,711,376 &                      64,930 &                        \$461 &        17.8\% \\
Middle 40\%      &  26,169,101 &                     131,418 &                        \$933 &        28.8\% \\
Top 10\%         &   6,542,275 &                     658,201 &                      \$4,673 &        36.2\% \\
Top 1\%          &     654,227 &                   1,761,974 &                     \$12,510 &         9.7\% \\
Top 0.1\%        &      65,422 &                   4,054,818 &                     \$28,789 &         2.3\% \\
Top 0.01\%       &       6,542 &                   8,128,723 &                     \$57,713 &         0.5\% \\
\bottomrule
\end{tabular}

### Top 10%, Bottom 90% National Income Shares in Pakistan, 2015

In [657]:
x=["PSLM HIES Survey", "Constructed Survey and Tax Data"]

trace1 = go.Bar(
    x=x,
    y=[calculate_income_share("salaried", 2015, 0.9, top=False, t_func_diff=True, t_func=get_survey_table), 
       calculate_income_share("salaried", 2015, 0.9, top=False)],
    name='Bottom 90% contribution',
    marker = dict(color = ('rgb(31, 119, 180)'))   
)
trace2 = go.Bar(
    x=x,
    y=[calculate_income_share("salaried", 2015, 0.1, t_func_diff=True, t_func=get_survey_table), 
       calculate_income_share("salaried", 2015, 0.1)],
    name='Top 10% Contribution',
    marker = dict(color = ('rgb(214, 39, 40)'))
)

data = [trace1, trace2]

layout = dict(title = 'National Income Shares in Pakistan, Top 10%, Bottom 90%, 2015',
              yaxis = dict(title = 'Income Share'),
              barmode='stack'
              )

top10_2015 = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
top10_2015

### Top 1%, Bottom 99% National Income Shares in Pakistan, 2015

In [658]:
x=["PSLM HIES Survey", "Constructed Survey and Tax Data"]

trace1 = go.Bar(
    x=x,
    y=[calculate_income_share("salaried", 2015, 0.99, top=False, t_func_diff=True, t_func=get_survey_table), 
       calculate_income_share("salaried", 2015, 0.99, top=False)],
    name='Bottom 99% contribution',
    marker = dict(color = ('rgb(31, 119, 180)'))   
)
trace2 = go.Bar(
    x=x,
    y=[calculate_income_share("salaried", 2015, 0.01, t_func_diff=True, t_func=get_survey_table), 
       calculate_income_share("salaried", 2015, 0.01)],
    name='Top 1% Contribution',
    marker = dict(color = ('rgb(214, 39, 40)'))
)

data = [trace1, trace2]

layout = dict(title = 'National Income Shares in Pakistan, Top 1%, Bottom 99%  2015',
              yaxis = dict(title = 'Income Share'),
              barmode='stack'
              )

top1_bottom99_2015 = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
top1_bottom99_2015

### Top 10%, Middle 40%, Bottom 50% National Income Shares in Pakistan, 2015

In [691]:
x=["PSLM HIES Survey", "Constructed Survey and Tax Data"]

b50_survey = calculate_income_share("salaried", 2015, 0.5, top=False, t_func_diff=True, t_func=get_survey_table)
b50_final = calculate_income_share("salaried", 2015, 0.5, top=False)

t10_survey = calculate_income_share("salaried", 2015, 0.1, t_func_diff=True, t_func=get_survey_table)
t10_final = calculate_income_share("salaried", 2015, 0.1)

m40_survey = 1 - (t10_survey + b50_survey)
m40_final = 1 - (t10_final + b50_final)

trace1 = go.Bar(
    x=x,
    y=[b50_survey, 
       b50_final],
    name='Bottom 50% contribution',
    marker = dict(color = ('rgb(31, 119, 180)'))   
)
trace2 = go.Bar(
    x=x,
    y=[m40_survey, 
       m40_final],
    name='Middle 40% Contribution',
    marker = dict(color = ('rgb(214, 39, 40)'))
)

trace3 = go.Bar(
    x=x,
    y=[t10_survey, 
       t10_final],
    name='Top 10% Contribution',
    marker = dict(color = ('rgb(148, 103, 189)'))
)

data = [trace1, trace2, trace3]

layout = dict(title = 'National Income Shares in Pakistan, Top 30%, Middle 40%, Bottom 30%  2015',
              yaxis = dict(title = 'Income Share'),
              barmode='stack'
              )

top30_middle40_bottom_30_2015 = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
top30_middle40_bottom_30_2015

### HIES Household and Individual Coverage

In [660]:
years = np.arange(2004, 2016, 1)
index = np.argwhere(years==2009)
years = np.delete(years, index)

# individuals
i_nums = []
for y in years:
    t = get_survey_table("individual", y)
    i_nums.append(t.shape[0])
    
print("\n")

# households
hh_nums = []
for y in years:
    f = ("./finalData/hh_balance_sheet_" + str(y) + "_" + str(y+1)[2:] + ".pkl")
    hh_nums.append(len(pd.read_pickle(f)))

def format_number(value):
    return "{:,}".format(value)

d = {
    'Year': years, 
    'Number of Households': [format_number(x) for x in hh_nums], 
    'Number of Individuals': [format_number(x) for x in i_nums], 
    'Individuals / Household Ratio': [np.round(x, 2) for x in list(np.array(i_nums) / np.array(hh_nums))],
    }

hies_coverage = pd.DataFrame(data=d)
hies_coverage = hies_coverage[["Year", "Number of Households", "Number of Individuals", "Number of Households", "Individuals / Household Ratio"]]
hies_coverage

,Year,Number of Households,Number of Individuals,Number of Households,Individuals / Household Ratio
0,2004,"14,707","21,170","14,707",1.44
1,2005,"15,450","25,303","15,450",1.64
2,2006,"70,156","108,427","70,156",1.55
3,2007,"15,511","24,900","15,511",1.61
4,2008,"71,491","108,698","71,491",1.52
5,2010,"16,341","25,202","16,341",1.54
6,2011,"15,807","25,362","15,807",1.60
7,2012,"75,333","117,639","75,333",1.56
8,2013,"17,891","29,321","17,891",1.64
9,2014,"78,505","122,664","78,505",1.56
10,2015,"24,238","38,552","24,238",1.59

In [661]:
print(hies_coverage.to_latex())

\begin{tabular}{lrlllr}
\toprule
{} &  Year & Number of Households & Number of Individuals & Number of Households &  Individuals / Household Ratio \\
\midrule
0  &  2004 &               14,707 &                21,170 &               14,707 &                           1.44 \\
1  &  2005 &               15,450 &                25,303 &               15,450 &                           1.64 \\
2  &  2006 &               70,156 &               108,427 &               70,156 &                           1.55 \\
3  &  2007 &               15,511 &                24,900 &               15,511 &                           1.61 \\
4  &  2008 &               71,491 &               108,698 &               71,491 &                           1.52 \\
5  &  2010 &               16,341 &                25,202 &               16,341 &                           1.54 \\
6  &  2011 &               15,807 &                25,362 &               15,807 &                           1.60 \\
7  &  2012 &               75,333 &               117,639 &               75,333 &                           1.56 \\
8  &  2013 &               17,891 &                29,321 &               17,891 &                           1.64 \\
9  &  2014 &               78,505 &               122,664 &               78,505 &                           1.56 \\
10 &  2015 &               24,238 &                38,552 &               24,238 &                           1.59 \\
\bottomrule
\end{tabular}

In [662]:
# new graph yo

In [663]:
# mean income, standard deviation of income, median income, mean age, ratio income /consumption, gini
s = get_final_table(2006, "salaried")
t = get_survey_table("individual", 2006)
x = s.describe()
y = t.describe()
x = x[["income"]]
y = y[["income"]]
# x.drop(["hhcode", "weights", "psu", "idc"], axis=1, inplace=True)
x["income"] = x["income"].astype(int)
y["income"] = y["income"].astype(int)
# x["age"] = x["age"].astype(int)
# x["birth_year"] = x["birth_year"].astype(int)
d = {
    'HIES Income': [format_number(g) for g in y["income"]], 
    'Combined Income': [format_number(g) for g in x["income"]], 
    }

df = pd.DataFrame(d, x.index)
df

//anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:4116: RuntimeWarning:

Invalid value encountered in percentile

      Combined Income HIES Income
count         515,416     108,427
mean          296,615      60,006
std         1,868,303     111,818
min                 3           3
25%           100,000       4,800
50%           121,735      38,500
75%           225,201      72,000
max       708,955,276  11,400,000

In [664]:
print(df.to_latex())

\begin{tabular}{lll}
\toprule
{} & Combined Income & HIES Income \\
\midrule
count &         515,416 &     108,427 \\
mean  &         296,615 &      60,006 \\
std   &       1,868,303 &     111,818 \\
min   &               3 &           3 \\
25\%   &         100,000 &       4,800 \\
50\%   &         121,735 &      38,500 \\
75\%   &         225,201 &      72,000 \\
max   &     708,955,276 &  11,400,000 \\
\bottomrule
\end{tabular}

### Share of Income Gap Explained By Top Incomes

In [665]:
years = np.arange(2004, 2016, 1)
index = np.argwhere(years==2009)
years = np.delete(years, index)

survey_pni = []
mixed_pni = []
for y in years:
    survey_pni.append(weighted_sum(get_survey_table("individual", y)["income"], get_survey_table("individual", y)["weights"]) / ni[ni["Year"] == y]["National Income"].values[0])
    mixed_pni.append(weighted_sum(get_final_table(y, "salaried")["income"], get_final_table(y, "salaried")["weights"]) / ni[ni["Year"] == y]["National Income"].values[0])
    
    
survey_trace = go.Scatter(
    x = years,
    y = survey_pni,
    name = "PSLM HIES Survey"
)

final_trace = go.Scatter(
    x = years,
    y = mixed_pni,
    name = "Combined Microdata"
)

layout = dict(title = 'Share of Income Gap Explained By Top Incomes',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'National Income Share'),
              )
data = [survey_trace, final_trace]
ni_income_gap = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
ni_income_gap

In [666]:
# Lorenz Curve / Gini Coefficient

In [667]:
def gini(incomes):
    sum_of_absolute_differences = 0
    subsum = 0

    for i, x in enumerate(incomes):
        sum_of_absolute_differences += i * x - subsum
        subsum += x

    return sum_of_absolute_differences / subsum / len(incomes)

In [668]:
gini(list(get_final_table(2015, "salaried")["income"]))

0.58121472825118226

In [669]:
# Table that Saez and Zucman have constructed for DINA usa

### Putting Pakistani Income Inequality in Perspective

In [670]:
d = {
    'Pakistan': ["5.0", "13.0", "30.0", "36.0", "29", "18.0"][::-1], 
    'India': ["3.4", "8.2", "21.3", "56.1", "29.2", "14.7"][::-1], 
    'Turkey': [None, None, "21.5", "52.6", "32.5", "14.9"][::-1], 
    'Middle East': [None, None, "30.5", "64.0", "26.0", "9.0"][::-1],
    'South Africa': [None, None, "19.2" , "65.1" , "31.0", "5.0"][::-1],
    'Brazil': [None, None, "28.3", "55.6", "30.6", "13.9"][::-1],
    'China': ["3.2", "6.3", "13.9", "41.4", "43.7", "14.8"][::-1],
    "USA": ["4.4", "9.3" , "20.2", "47" ,"40.5" ,"12.5"][::-1],
    }

comparative = pd.DataFrame(d, ["Top 0.01%", "Top 0.1%", "Top 1%", "Top 10%", "Middle 40%", "Bottom 50%"][::-1])
comparative = comparative[["Pakistan", "India", "Middle East", "South Africa", "Brazil", "Turkey", "China", "USA"]]
comparative

           Pakistan India Middle East South Africa Brazil Turkey China   USA
Bottom 50%     18.0  14.7         9.0          5.0   13.9   14.9  14.8  12.5
Middle 40%       29  29.2        26.0         31.0   30.6   32.5  43.7  40.5
Top 10%        36.0  56.1        64.0         65.1   55.6   52.6  41.4    47
Top 1%         30.0  21.3        30.5         19.2   28.3   21.5  13.9  20.2
Top 0.1%       13.0   8.2        None         None   None   None   6.3   9.3
Top 0.01%       5.0   3.4        None         None   None   None   3.2   4.4

### Comparison to Similar Countries, Top 10%, Midde 40%, Bottom 50%

In [690]:
t10_final

0.095007608144953723

In [693]:
x=["Pakistan", "Middle East", "India", "South Africa", "China"]

trace1 = go.Bar(
    x=x,
    y=[t10_final*100, 64.0, 56.1, 65.1, 41.4],
    name='Top 10%'
)
trace2 = go.Bar(
    x=x,
    y=[m40_final*100, 26.0, 29.2, 31.0, 43.7],
    name='Middle 40%'
)
trace3 = go.Bar(
    x=x,
    y=[b50_final*100, 9.0, 14.7, 5.0, 14.8],
    name='Bottom 50%'
)

data = [trace1, trace2, trace3]
layout = go.Layout(
    barmode='group'
)

layout = dict(title = 'Comparison to Similar Countries, 2015',
              yaxis = dict(title = 'Income Share'),
              barmode='grouped-bar'
              )

comparison_select = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
comparison_select

### Comparison to Similar Countries, Top 1%, Bottom 50%

In [672]:
x=["Pakistan", "Middle East", "India", "South Africa", "China"]

trace1 = go.Bar(
    x=x,
    y=[30.0, 30.5, 21.3, 19.2, 13.9],
    name='Top 1%'
)
# trace2 = go.Bar(
#     x=x,
#     y=[18.9, 26.0, 29.2, 31.0, 43.7],
#     name='Middle 40%'
# )
trace3 = go.Bar(
    x=x,
    y=[12.0, 9.0, 14.7, 5.0, 14.8],
    name='Bottom 50%'
)

data = [trace1, trace3]
layout = go.Layout(
    barmode='group'
)

layout = dict(title = 'Comparison to Similar Countries, 2015',
              yaxis = dict(title = 'Income Share'),
              barmode='grouped-bar'
              )

comparison_select_select = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
comparison_select_select

### National Income Growth in Pakistan, 2012 - 2016

This shows us we cannot use growth rates or undergo any significant analysis of growth rates as the surveys are self-contained. This result holds as we change the dates, for any section between 2004 - 2016. As we saw with the 'survey growth rates' table, we cannot make any significant assumptions about changes across time.

In [673]:
ni = pd.read_excel("./miscData/national_income.xlsx")

In [674]:
nigrowth = (ni[ni["Year"] == 2016]["National Income"].values[0] - ni[ni["Year"] == 2013]["National Income"].values[0]) / ni[ni["Year"] == 2013]["National Income"].values[0]

In [675]:
b90_data2012, b90_weights2012, ib902012 = bottom_percentiles(0.9, get_survey_table("individual", 2012)["income"], get_survey_table("individual", 2012)["weights"])
t10_data2012, t10_weights2012, it102012 = top_percentiles(0.1, get_survey_table("individual", 2012)["income"], get_survey_table("individual", 2012)["weights"])

b90_data2015, b90_weights2015, ib902015 = bottom_percentiles(0.9, get_survey_table("individual", 2015)["income"], get_survey_table("individual", 2015)["weights"])
t10_data2015, t10_weights2015, it102015 = top_percentiles(0.1, get_survey_table("individual", 2015)["income"], get_survey_table("individual", 2015)["weights"])

b90_growth = (weighted_sum(b90_data2015, b90_weights2015) - weighted_sum(b90_data2012, b90_weights2012)) / weighted_sum(b90_data2012, b90_weights2012)
t10_growth = (weighted_sum(t10_data2015, t10_weights2015) - weighted_sum(t10_data2012, t10_weights2012)) / weighted_sum(t10_data2012, t10_weights2012)

t10_survey = t10_growth
b90_survey = b90_growth

In [676]:
b90_data2012, b90_weights2012, ib902012 = bottom_percentiles(0.9, get_final_table(2012, "salaried")["income"], get_final_table(2012, "salaried")["weights"])
t10_data2012, t10_weights2012, it102012 = top_percentiles(0.1, get_final_table(2012, "salaried")["income"], get_final_table(2012, "salaried")["weights"])

b90_data2015, b90_weights2015, ib902015 = bottom_percentiles(0.9, get_final_table(2015, "salaried")["income"], get_final_table(2015, "salaried")["weights"])
t10_data2015, t10_weights2015, it102015 = top_percentiles(0.1, get_final_table(2015, "salaried")["income"], get_final_table(2015, "salaried")["weights"])

b90_growth = (weighted_sum(b90_data2015, b90_weights2015) - weighted_sum(b90_data2012, b90_weights2012)) / weighted_sum(b90_data2012, b90_weights2012)
t10_growth = (weighted_sum(t10_data2015, t10_weights2015) - weighted_sum(t10_data2012, t10_weights2012)) / weighted_sum(t10_data2012, t10_weights2012)

t10_final = t10_growth
b90_final = b90_growth

In [677]:
x=["National Accounts", "PSLM HIES Survey", "Constructed Survey and Tax Data"]

trace1 = go.Bar(
    x=x,
    y=[None, b90_survey, b90_final],
    name='Bottom 90% contribution',
    marker = dict(color = ('rgb(31, 119, 180)'))   
)
trace2 = go.Bar(
    x=x,
    y=[None, t10_survey, t10_final],
    name='Top 10% Contribution',
    marker = dict(color = ('rgb(214, 39, 40)'))
)
trace3 = go.Bar(
    x=x,
    y=[nigrowth, None, None],
    name='All Percentiles',
    marker = dict(color = ('rgb(148, 103, 189)'))
)

data = [trace3, trace1, trace2]

layout = dict(title = 'National Income Growth in Pakistan, 2012 - 2016',
              yaxis = dict(title = 'Total growth (%)'),
              barmode='stack'
              )

national_income_growth_2015 = plotly.offline.iplot({
    "data": data,
    "layout": layout
})
national_income_growth_2015

### Regarding Other Datasets

Found this dataset that has numbers very different to ours. Definition is as follows:

World Bank, Development Research Group. Data are based on primary household survey data obtained from government statistical agencies and World Bank country departments. Data for high-income economies are from the Luxembourg Income Study database. For more information and methodology, please see PovcalNet (http://iresearch.worldbank.org/PovcalNet/index.htm).

What's interesting is that it doesn't even match up with our household survey data. Further research finding this survey data, combining it with our tax data would be useful.

In [678]:
pak_world_bank_indicators = pd.read_excel("./miscData/world_bank_bottom20_income_share_and_population.xlsx")

In [679]:
lowest_20_income = pak_world_bank_indicators[pak_world_bank_indicators["Series Code"] == "SI.DST.FRST.20"]
lowest_20_income

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],2000 [YR2000],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
11,Pakistan,PAK,Income share held by lowest 20%,SI.DST.FRST.20,8.1,..,..,9.6,9.3,..,9.2,..,8.9,..,..,..

In [680]:
print("Lowest 20% Income Share, PSLM HIES Survey: ", calculate_income_share("salaried", 2015, 0.2, top=False, t_func_diff=True, t_func=get_survey_table) * 100, "%")

Lowest 20% Income Share, PSLM HIES Survey:  2.6 %

In [681]:
print("Lowest 20% Income Share, Constructed Dataset: ", calculate_income_share("salaried", 2015, 0.2, top=False) * 100, "%")

Lowest 20% Income Share, Constructed Dataset:  1.7 %

# Export Data

In [682]:
# with open('./finalData/finalGraphsAndTables/survey_growth_rates.pkl', 'wb') as f: pickle.dump(survey_growth_rates, f)

Notes for potential things to add in order of priority:

1) Can make this functions much faster (as well as functions in other notebooks) by sticking to the numpy module. There are a lot of places where I do 'sum(list(...))' which is woefully inefficient.

2) There are definitely more graphs that one can construct from this data. Please feel free to add and put in a pull request so we can add it to this repository.

Please make use of this analysis and reach out at ali.ahmed@berkeley.edu if you need any help setting it up, or understanding some of the data. My hope is that this can serve as a starting point for others to move forward with inequality research in Pakistan so society can better understand the impact of economic policy.